{% load humanize %}
<!DOCTYPE html>
<html
 lang="en"
 class="light-style layout-menu-fixed"
 dir="ltr"
 data-theme="theme-default"
 data-assets-path="assets/"
 data-template="vertical-menu-template-free"
>
<head>
  {% load static %}
  <meta charset="utf-8"/>
  <meta
   name="viewport"
   content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
  />

  <title>MilkBasket Dashboard</title>

  <meta name="description" content=""/>

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{% static "/favicon.ico" %}"/>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link
   href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
   rel="stylesheet"
  />

  <!-- Icons. Uncomment required icon fonts -->
  {#  <link rel="stylesheet" href="{% static "/customer/assets/vendor/fonts/boxicons.css" %}"/>#}
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

  <!-- Core CSS -->
  <link rel="stylesheet" href="{% static "/customer/assets/vendor/css/core.min.css" %}"
        class="template-customizer-core-css"/>
  <link rel="stylesheet" href="{% static "/customer/assets/vendor/css/theme-default.css" %}"
        class="template-customizer-theme-css"/>
  <link rel="stylesheet" href="{% static "/customer/assets/css/demo.css" %}"/>

  <!-- Vendors CSS -->
  <link rel="stylesheet"
        href="{% static "/customer/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" %}"/>

  <link rel="stylesheet"
        href="{% static "/customer/assets/vendor/libs/apex-charts/apex-charts.css" %}"/>

  <!-- FA ICON -->
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Page CSS -->

  <!-- Helpers -->
  <script src="{% static "/customer/assets/vendor/js/helpers.js" %}"></script>

  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="{% static "/customer/assets/js/config.js" %}"></script>
  <style>

    {#Footer CSS below#}
    @font-face {
        font-family: Caveat;
        src: url("{% static "/src/Caveat.ttf"%}");

    }

    .milkman {
        font-family: Caveat;
        font-size: 35px;
    }

    .footer_mobile {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: lightseagreen;
        color: black;
        text-align: center;
    }

    .footer_desktop {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    {#height: 150px;#} z-index: 2;
    }

    .copyright {
        background-color: #2f2f2f;
        color: #9d9d9d;
        font-size: 15px;
    }

    .footer-compliance {
        background-color: #041e34;
        color: white;
        text-align: center;
        font-size: 12px;
    }

    .blink_me {
        animation: blinker 1s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    .fa {
        padding: 5px;
        font-size: 30px;
    {#width: 100%;#} text-align: center;
        text-decoration: none;
    {#margin: 5px 2px;#} border-radius: 20%;
    }

    .badge-custom {
        font-weight: 800 !important;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-phone {
        background: #3B5998;
        color: white;
    }

    .fa-whatsapp {
        background: #24ad70;
        color: white;
    }

    .fa-envelope {
        background: #dd4b39;
        color: white;
    }
  </style>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->


    <!-- Layout container -->
    <div class="align-items-center">

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row">
            <div class="col-lg-8 mb-4 order-0">
              <div class="card">
                <div class="d-flex align-items-end row">
                  <div class="col-sm-7">
                    <div class="card-body">
                      <h5 class="card-title text-primary">Welcome, {{ customer.name }}!</h5>
                      <p class="mb-2">
                        {{ summary }}</p>
                      {% if bill_stats.count_due_bill %}
                        <p class="text-warning">You have {{ bill_stats.count_due_bill }} due
                          bill(s)</p>
                      {% endif %}


                      <a class="dropdown-item" href="{% url 'customer_dashboard_logout' %}">
                        <i class="text-danger bx bx-power-off me-2"></i>
                        <span class="align-middle text-danger">Log Out</span>
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-5 text-center text-sm-left">
                    <div class="card-body pb-0 px-0 px-md-4">
                      <img
                       src="{% static "/customer/assets/img/illustrations/man-with-laptop-light.png" %}"
                       height="140"
                       alt="View Badge User"
                       data-app-dark-img="illustrations/man-with-laptop-dark.png"
                       data-app-light-img="illustrations/man-with-laptop-light.png"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 order-1">
              <div class="row">
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                          <img
                           src="{% static "/customer/assets/img/icons/unicons/chart-success.png" %}"
                           alt="chart success"
                           class="rounded"
                          />
                        </div>
                      </div>
                      <span class="fw-semibold d-block mb-1">Due (<span
                       class="text-info">{{ date.last_month|date:"F, Y" }}</span>)</span>
                      <h3 class="card-title mb-2">₹ {{ payment.prev_month_due }}</h3>
                      {% if payment.prev_month_due > 0 %}
                        <span
                         class="badge badge-custom p-2 bg-label-warning rounded-pill blink_me">Payment Due</span>
                      {% else %}
                        <span
                         class="badge badge-custom bg-label-success rounded-pill font-weight-bold">Paid</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                          <img
                           src="{% static "/customer/assets/img/icons/unicons/wallet-info.png" %}"
                           alt="Credit Card"
                           class="rounded"
                          />
                        </div>
                      </div>
                      <span>Total Due</span>
                      <h3 class="card-title text-nowrap mb-1">₹ {{ payment.total_due }}</h3>
                    </div>
                    <small class="text-secondary fw-semibold pb-2 text-center"><i
                     class="bx bx-up-arrow-alt"></i>Due till {{ date.today|date:"M d, Y" }}</small>
                  </div>
                </div>
              </div>
            </div>
            <!-- Total Revenue -->
            <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
              <div class="card">
                <div class="row row-bordered g-0">
                  <div class="col-md-8">
                    <h5 class="card-header m-0 me-2 pb-3">Milk Delivery (<span
                     class="text-info">{{ date.today|date:"F, Y" }}</span>)</h5>
                    <div id="totalRevenueChart" class="px-2"></div>
                  </div>
                  <div class="col-md-4">

                    <div class="pt-5" id="growthChart"></div>
                    <div class="text-center fw-semibold pt-3 mb-2">Billing Cycle</div>

                    <div
                     class="d-flex px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3 justify-content-between">
                      <div class="d-flex">
                        <div class="me-2">
                          <span class="badge bg-label-primary p-2"><i
                           class="bx bx-receipt text-primary"></i></span>
                        </div>
                        <div class="d-flex flex-column">
                          <small>Next Bill expected in</small>
                          <h6 class="mb-0">{{ days_in_month.remaining }} Day(s)</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Total Revenue -->
            <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
              <div class="row">
                <div class="col-12 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="text-nowrap mb-2">Your Schedule</h5>
                      {% if customer.status %}
                        <div class="row">
                          {% if customer.m_quantity %}
                            <div class="col-6 mb-4">
                              <h3 class="card-title text-nowrap mb-2">{{ customer.m_quantity }}
                                ML</h3>
                              <div
                               class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                  <img
                                   src="{% static "/customer/assets/img/icons/unicons/morning.png" %}"
                                   alt="Credit Card" class="rounded"/>
                                  <span class="card-title text-nowrap mb-2">Morning</span>
                                </div>
                              </div>
                            </div>
                          {% endif %}
                          {% if customer.e_quantity %}
                            <div class="col-6 mb-4">
                              <h3 class="card-title text-nowrap mb-2">{{ customer.e_quantity }}
                                ML</h3>
                              <div
                               class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                  <img
                                   src="{% static "/customer/assets/img/icons/unicons/night.png" %}"
                                   alt="Credit Card" class="rounded"/>
                                  <span class="card-title text-nowrap mb-2">Evening</span>
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        </div>

                        <small class="text-info fw-semibold"><i class="bx bx-time-five"></i>
                          Customer Since {{ customer.member_since }}</small>
                      {% else %}
                        <h3 class="card-title text-nowrap mb-2 text-danger">Profile Inactive</h3>
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="avatar flex-shrink-0">
                            <span class="card-title text-nowrap mb-2">No Active Subscription</span>
                          </div>
                        </div>
                        <small class="text-info fw-semibold"><i class="bx bx-info-circle"></i>
                          Please reach out to your seller, to restart subscription. </small>
                      {% endif %}
                    </div>
                  </div>
                </div>

                <!-- </div>
<div class="row"> -->
                <div class="col-12 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                        <div
                         class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                          <div class="card-title mb-0">
                            <h5 class="text-nowrap mb-2">Your Seller</h5>
                            <span
                             class="card-title text-nowrap mb-2">{{ seller.tenant__first_name }} {{ seller.tenant__last_name }}</span>
                          </div>
                          <div class="mt-sm-auto">
                            <h3 class="mb-0">₹ {{ seller.milk_price }} / Liter</h3>

                            <small class="text-info text-nowrap fw-semibold"
                            ><i class="bx bx-chevron-up"></i>
                              Since {{ seller.date_effective|date:"d F, Y" }}</small>
                          </div>
                        </div>
                        <div>
                          <a target="_blank" href="tel:{{ seller.contact }}"
                             class="fa fa-phone"></a>
                          <a target="_blank" href="https://wa.me/{{ seller.contact }}"
                             class="fa fa-whatsapp"></a>
                          <a target="_blank" href="mailto:{{ seller.email }}"
                             class="fa fa-envelope"></a>
                        </div>
                        {#                            <div id="profileReportChart"></div>#}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Order Statistics -->
            <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
              <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between pb-0">
                  <div class="card-title mb-0">
                    <h5 class="m-0 me-2">Order Statistics (<span
                     class="text-info">{{ date.today|date:"F, Y" }}</span>)</h5>
                    <small class="text-muted">{{ order_statistics.total_orders }} Total
                      Order</small>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-column align-items-center gap-1">
                      <h2 class="mb-2">{{ order_statistics.total|intcomma }} ML</h2>
                      <span>Total Milk Quantity</span>
                    </div>
                    <div id="orderStatisticsChart"></div>
                  </div>
                  <ul class="p-0 m-0">
                    {% for k,v in order_statistics.orders.items %}
                      <li class="d-flex mb-4 pb-1">
                        <div class="avatar flex-shrink-0 me-3">
                            <span class="avatar-initial rounded bg-label-primary"
                            ><i class="bx bxs-cart-add"></i
                            ></span>
                        </div>
                        <div
                         class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div class="me-2">
                            <h6 class="mb-0">{{ k }} ML</h6>
                            <small class="text-muted">{{ v }} units</small>
                          </div>
                          <div class="user-progress">
                            <small class="fw-semibold">{% widthratio k 1 v %} ML</small>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <!--/ Order Statistics -->

            <!-- Expense Overview -->
            <div class="col-md-6 col-lg-4 order-1 mb-4">
              <div class="card h-100">

                <div class="card-header d-flex align-items-center justify-content-between">
                  <h5 class="card-title m-0 me-2">Your Bills</h5>
                  <small class="text-muted">{{ bills|length }} Total Bills</small>

                </div>
                <div class="d-flex justify-content-center gap-2">
                  <div class="flex-shrink-0">
                    <div id="expensesOfWeek"></div>
                  </div>
                  <div>
                    {% if bill_stats.count_due_bill > 0 %}
                      <p class="mb-n1 mt-1 text-warning font-weight-bold">Bill Due</p>
                      <small class="text-muted">You have {{ bill_stats.count_due_bill }} due
                        bill(s)</small>
                    {% else %}
                      <p class="mb-n1 mt-1 text-success font-weight-bold">Bill Paid</p>
                      <small class="text-muted">You don't have any due bill, well done! 🎉</small>
                    {% endif %}
                  </div>
                </div>
                <div class="card-body" style="overflow:scroll; height:400px;">
                  <ul class="p-0 m-0">
                    {% for bill in bills %}
                      <li class="d-flex mb-4 pb-1">
                        <div bill="avatar flex-shrink-0 me-3">
                          <div class="me-2">
                            <span class="badge bg-label-primary p-2"><i
                             class="bx bx-receipt text-primary"></i></span>
                          </div>
                        </div>
                        <div
                         class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div class="me-2">
                            <small class="text-muted d-block mb-1"><a target="_blank"
                                                                      href="{% url 'view_bill' bill.bill_number %}">{{ bill.bill_number }}</a>
                              {% if bill.payment_status %}
                                <span class="badge badge-custom bg-label-success rounded-pill p-2">PAID</span>
                              {% else %}
                                <span class="badge badge-custom bg-label-danger rounded-pill p-2">DUE</span>
                              {% endif %}
                            </small>
                            <h6 class="mb-0">{{ bill.bill_date_obj }}</h6>
                          </div>
                          <div class="user-progress d-flex align-items-center gap-1">
                            <h6 class="mb-0">{{ bill.bill_amount }}</h6>
                            <span class="text-muted">INR</span>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <!--/ Expense Overview -->


            <!-- Transactions -->
            <div class="col-md-6 col-lg-4 order-2 mb-4">
              <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                  <h5 class="card-title m-0 me-2">Payment History</h5>
                  <small class="text-muted">{{ transactions|length }} Total Transactions</small>

                </div>
                <div class="card-body" style="overflow:scroll; height:400px;">
                  <ul class="p-0 m-0">
                    {% for trans in transactions %}
                      <li class="d-flex mb-4 pb-1">
                        <div class="avatar flex-shrink-0 me-3">
                          {% if trans.payment_mode == 'CASH' %}
                            <img src="{% static "/customer/assets/img/icons/unicons/wallet.png" %}"
                                 alt="User" class="rounded"/>
                          {% else %}
                            <img
                             src="{% static "/customer/assets/img/icons/unicons/cc-success.png" %}"
                             alt="User" class="rounded"/>
                          {% endif %}
                        </div>
                        <div
                         class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div class="me-2">
                            <small class="text-muted d-block mb-1">{{ trans.payment_mode }}</small>
                            <h6 class="mb-0">{{ trans.log_date }}</h6>
                          </div>
                          <div class="user-progress d-flex align-items-center gap-1">
                            <h6 class="mb-0">{{ trans.amount }}</h6>
                            <span class="text-muted">INR</span>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <!--/ Transactions -->
          </div>
        </div>
        <!-- / Content -->


        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
{#<script src="{% static "/customer/assets/vendor/libs/jquery/jquery.js" %}"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static "/customer/assets/vendor/libs/popper/popper.js" %}"></script>
{#<script src="{% static "/customer/assets/vendor/js/bootstrap.js" %}"></script>#}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script
 src="{% static "/customer/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js" %}"></script>

<script src="{% static "/customer/assets/vendor/js/menu.js" %}"></script>
<!-- endbuild -->

<!-- Vendors JS -->
{#<script src="{% static "/customer/assets/vendor/libs/apex-charts/apexcharts.js" %}"></script>#}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<!-- Main JS -->
<script src="{% static "/customer/assets/js/main.js" %}"></script>

<!-- Page JS -->
{#    <script src="{% static "/customer/assets/js/dashboards-analytics.js" %}"></script>#}

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<p class="text-center mb-5 text-secondary"> --- END OF PAGE ---</p>
<script>

  (function () {
    let cardColor, headingColor, axisColor, shadeColor, borderColor;

    cardColor = config.colors.white;
    headingColor = config.colors.headingColor;
    axisColor = config.colors.axisColor;
    borderColor = config.colors.borderColor;

    // Total Revenue Report Chart - Bar Chart
    // --------------------------------------------------------------------
    const totalRevenueChartEl = document.querySelector('#totalRevenueChart'),
      totalRevenueChartOptions = {
        series: [{
          name: 'Morning',
          data: {{ register_stats.morning_entry }}
        }, {
          name: 'Evening',
          data:  {{ register_stats.evening_entry }}
        }],
        chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: true
          },
          animations: {
            enabled: true
          }
        },
        stroke: {
          width: [5, 5],
          curve: 'straight'
        },
        labels: {{ register_stats.days }},
        title: {},
        xaxis: {},
      };
    if (typeof totalRevenueChartEl !== undefined && totalRevenueChartEl !== null) {
      const totalRevenueChart = new ApexCharts(totalRevenueChartEl, totalRevenueChartOptions);
      totalRevenueChart.render();
    }

    // Growth Chart - Radial Bar Chart
    // --------------------------------------------------------------------
    const growthChartEl = document.querySelector('#growthChart'),
      growthChartOptions = {
        series: [{{ days_in_month.percent }}],
        labels: ['Completed'],
        chart: {
          height: 240,
          type: 'radialBar'
        },
        plotOptions: {
          radialBar: {
            size: 150,
            offsetY: 10,
            startAngle: -150,
            endAngle: 150,
            hollow: {
              size: '55%'
            },
            track: {
              background: cardColor,
              strokeWidth: '100%'
            },
            dataLabels: {
              name: {
                offsetY: 15,
                color: headingColor,
                fontSize: '15px',
                fontWeight: '600',
                fontFamily: 'Public Sans'
              },
              value: {
                offsetY: -25,
                color: headingColor,
                fontSize: '22px',
                fontWeight: '500',
                fontFamily: 'Public Sans'
              }
            }
          }
        },
        colors: [config.colors.primary],
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'dark',
            shadeIntensity: 0.5,
            gradientToColors: [config.colors.primary],
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 0.6,
            stops: [30, 70, 100]
          }
        },
        stroke: {
          dashArray: 5
        },
        grid: {
          padding: {
            top: -35,
            bottom: -10
          }
        },
        states: {
          hover: {
            filter: {
              type: 'none'
            }
          },
          active: {
            filter: {
              type: 'none'
            }
          }
        }
      };
    if (typeof growthChartEl !== undefined && growthChartEl !== null) {
      const growthChart = new ApexCharts(growthChartEl, growthChartOptions);
      growthChart.render();
    }

    // Profit Report Line Chart
    // --------------------------------------------------------------------
    const profileReportChartEl = document.querySelector('#profileReportChart'),
      profileReportChartConfig = {
        chart: {
          height: 80,
          // width: 175,
          type: 'line',
          toolbar: {
            show: false
          },
          dropShadow: {
            enabled: true,
            top: 10,
            left: 5,
            blur: 3,
            color: config.colors.warning,
            opacity: 0.15
          },
          sparkline: {
            enabled: true
          }
        },
        grid: {
          show: false,
          padding: {
            right: 8
          }
        },
        colors: [config.colors.warning],
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: 5,
          curve: 'smooth'
        },
        series: [
          {
            data: [110, 270, 145, 245, 205, 285]
          }
        ],
        xaxis: {
          show: false,
          lines: {
            show: false
          },
          labels: {
            show: false
          },
          axisBorder: {
            show: false
          }
        },
        yaxis: {
          show: false
        }
      };
    if (typeof profileReportChartEl !== undefined && profileReportChartEl !== null) {
      const profileReportChart = new ApexCharts(profileReportChartEl, profileReportChartConfig);
      profileReportChart.render();
    }

    // Order Statistics Chart
    // --------------------------------------------------------------------
    const chartOrderStatistics = document.querySelector('#orderStatisticsChart'),
      orderChartConfig = {
        chart: {
          height: 165,
          width: 130,
          type: 'donut'
        },
        labels: {{ order_statistics.labels }},
        series: {{ order_statistics.series }},
        colors: [config.colors.primary, config.colors.secondary, config.colors.info, config.colors.success],
        stroke: {
          width: 5,
          colors: cardColor
        },
        dataLabels: {
          enabled: false,
          formatter: function (val, opt) {
            return parseInt(val) + '%';
          }
        },
        legend: {
          show: false
        },
        grid: {
          padding: {
            top: 0,
            bottom: 0,
            right: 15
          }
        },
        plotOptions: {
          pie: {
            donut: {
              size: '75%',
              labels: {
                show: true,
                value: {
                  fontSize: '1.5rem',
                  fontFamily: 'Public Sans',
                  color: headingColor,
                  offsetY: -15,
                  formatter: function (val) {
                    return parseInt(val) + '%';
                  }
                },
                name: {
                  offsetY: 20,
                  fontFamily: 'Public Sans'
                },
                total: {
                  show: true,
                  fontSize: '0.8125rem',
                  color: axisColor,
                  label: 'Attendance',
                  formatter: function (w) {
                    return '{{order_statistics.attendance}}%';
                  }
                }
              }
            }
          }
        }
      };
    if (typeof chartOrderStatistics !== undefined && chartOrderStatistics !== null) {
      const statisticsChart = new ApexCharts(chartOrderStatistics, orderChartConfig);
      statisticsChart.render();
    }

    // Income Chart - Area chart
    // --------------------------------------------------------------------
    const incomeChartEl = document.querySelector('#incomeChart'),
      incomeChartConfig = {
        series: [
          {
            data: [24, 21, 30, 0, 42, 26, 35, 29]
          }
        ],
        chart: {
          height: 215,
          parentHeightOffset: 0,
          parentWidthOffset: 0,
          toolbar: {
            show: false
          },
          type: 'area'
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: 2,
          curve: 'smooth'
        },
        legend: {
          show: false
        },
        markers: {
          size: 6,
          colors: 'transparent',
          strokeColors: 'transparent',
          strokeWidth: 4,
          discrete: [
            {
              fillColor: config.colors.white,
              seriesIndex: 0,
              dataPointIndex: 7,
              strokeColor: config.colors.primary,
              strokeWidth: 2,
              size: 6,
              radius: 8
            }
          ],
          hover: {
            size: 7
          }
        },
        colors: [config.colors.primary],
        fill: {
          type: 'gradient',
          gradient: {
            shade: shadeColor,
            shadeIntensity: 0.6,
            opacityFrom: 0.5,
            opacityTo: 0.25,
            stops: [0, 95, 100]
          }
        },
        grid: {
          borderColor: borderColor,
          strokeDashArray: 3,
          padding: {
            top: -20,
            bottom: -8,
            left: -10,
            right: 8
          }
        },
        xaxis: {
          categories: ['', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          labels: {
            show: true,
            style: {
              fontSize: '13px',
              colors: axisColor
            }
          }
        },
        yaxis: {
          labels: {
            show: false
          },
          min: 10,
          max: 50,
          tickAmount: 4
        }
      };
    if (typeof incomeChartEl !== undefined && incomeChartEl !== null) {
      const incomeChart = new ApexCharts(incomeChartEl, incomeChartConfig);
      incomeChart.render();
    }

    // Expenses Mini Chart - Radial Chart
    // --------------------------------------------------------------------
    const weeklyExpensesEl = document.querySelector('#expensesOfWeek'),
      weeklyExpensesConfig = {
        series: [{{bill_stats.percent}}],
        chart: {
          width: 60,
          height: 60,
          type: 'radialBar'
        },
        plotOptions: {
          radialBar: {
            startAngle: 0,
            endAngle: 360,
            strokeWidth: '8',
            hollow: {
              margin: 2,
              size: '45%'
            },
            track: {
              strokeWidth: '50%',
              background: borderColor
            },
            dataLabels: {
              show: true,
              name: {
                show: false
              },
              value: {
                formatter: function (val) {
                  return parseInt(val) + '%';
                },
                offsetY: 5,
                color: '#697a8d',
                fontSize: '13px',
                show: true
              }
            }
          }
        },
        fill: {
          type: 'solid',
          colors: config.colors.primary
        },
        stroke: {
          lineCap: 'round'
        },
        grid: {
          padding: {
            top: -10,
            bottom: -15,
            left: -10,
            right: -10
          }
        },
        states: {
          hover: {
            filter: {
              type: 'none'
            }
          },
          active: {
            filter: {
              type: 'none'
            }
          }
        }
      };
    if (typeof weeklyExpensesEl !== undefined && weeklyExpensesEl !== null) {
      const weeklyExpenses = new ApexCharts(weeklyExpensesEl, weeklyExpensesConfig);
      weeklyExpenses.render();
    }
  })();
</script>
<!-- Footer -->
{% include "register/footer.html" %}
