arabic-reshaper==2.1.1
asgiref==3.2.10
certifi==2020.11.8
chardet==3.0.4
date-range==0.0.1
dateutils==0.6.11
dj-database-url==0.5.0
Django==3.1.2
django-mathfilters==1.0.0
dnspython==2.0.0
future==0.18.2
gunicorn==20.0.4
html5lib==1.1
idna==2.10
image==1.5.32
Pillow==7.2.0
psycopg2-binary==2.8.6
pymongo==3.11.2
PyPDF2==1.26.0
PyQRCode==1.2.1
python-bidi==0.4.2
python-dateutil==2.8.1
pytz==2020.1
qrcode==6.1
reportlab==3.5.55
requests==2.25.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.26.2
webencodings==0.5.1
whitenoise==5.2.0
xhtml2pdf==0.2.5
fontawesome-free==5.15.3

