{% include "register/header.html" %}

<!-- Navbar content -->
{% block content %}
  <style>
      .cal-yes {
          border: 1px solid green;
          background-color: #80ced6;
      }

      .cal-no {
          border: 1px solid red;
          background-color: #f18973;
      }

      .cal-nodata {
          border: 1px solid grey;
      }

  </style>

  <a class="p-2 btn" href="addexpense">+ Add new Expense</a>
  <div class="row justify-content-center">
    <div class="col">
      <h2 class="pt-2 text-center">Income and Expenses - {{ month_year }}</h2>
      {% if register %}
        <h5 class="pt-2 mt-2 text-center">Morning</h5>
        <div style="overflow-x:auto;">
          <table class="table table-hover">
            <tbody>
            {% for entry in register %}
              <tr>
                {% if entry.customer.morning %}
                  <td>{{ entry.customer.name }}</td>
                  {% for day in days %}
                    <td class="

                     {% if entry.log_date.day == day %}{% if entry.schedule == 'morning-yes' %} cal-yes {% elif entry.schedule == 'morning-no' %} cal-no{% endif %}{% endif %}">{{ day }}</td>
                  {% endfor %}
                {% endif %}

              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <h5 class="pt-2 mt-2 text-center">Evening</h5>
        <div style="overflow-x:auto;">
          <table class="table table-hover">
            <tbody>
            {% for entry in register %}
              <tr>
                {% if entry.customer.evening %}
                  <td>{{ entry.customer.name }}</td>
                  {% for day in days %}
                    <td
                     class="
                      {% if entry.log_date.day == day %}{% if entry.schedule == 'evening-yes' %} cal-yes {% elif entry.schedule == 'evening-no' %} cal-no{% endif %}{% endif %}">{{ day }}</td>
                  {% endfor %}
                {% endif %}

              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <h3 class="pt-5 mt-4 text-center">Nothing to display at the moment</h3>
      {% endif %}
    </div>
  </div>
{% endblock %}
<!-- Footer -->
{% include "register/footer.html" %}
