{% include "register/header.html" %}

<!-- Navbar content -->
{% block content %}
  <style>
      .cal-yes {
          border: 1px solid green;
          background-color: #80ced6;
      }

      .cal-no {
          border: 1px solid red;
          background-color: #f18973;
      }

      .cal-nodata {
          border: 1px solid grey;
      }

  </style>

  <div class="d-flex bd-highlight">
  <div class="col-6 mr-auto p-2 bd-highlight">
    <button type="button" class="btn mt-2 ml-2 btn-success" data-toggle="modal"
            data-target="#exampleModal1"
            data-whatever="@fat">+ Add new Entry
    </button>
  </div>
  <div class="justify-content-end inline p-2 bd-highlight">
    <form name="view_selectrecord" action="{% url 'view_selectrecord' %}"
          method="post">{% csrf_token %}
      <label for="myDate" class="col-form-label">Select Report:</label>
      <input type="hidden" name="nav-type" value="account" id="nav">
      <input class="inline" type="month" name="register_month" id="mydate"
             value="{% now 'Y-m' %}">
      <button type="submit" class="btn btn-info">GO</button>
    </form>
  </div>
</div>
  <hr>
<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="pt-2 text-center">Income and Expenses - {{ month_year }}</h2>
    </div>

    {% if expenses or due_customer or paid_customer %}
    {% if expenses %}
<!--    First Table-->
    <div class="mt-4 col-12">
      <caption><h5 class="pt-2 mt-2 text-center">Expenses</h5></caption>
      <table class="table table-sm table-striped">
        <thead>
        <tr class="d-flex bg-info text-white">
          <th class="p-2 col-1" scope="col">#</th>
          <th class="p-2 col-5" scope="col">Description</th>
          <th class="p-2 col-1" scope="col">Cost</th>
          <th class="p-2 col-3" scope="col">Log Date</th>
          <th class="p-2 col-2" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in expenses %}
        <tr class="d-flex">
          <th class="p-2 col-1" scope="row">{{ forloop.counter }}</th>
          <td class="p-2 col-5">{{ entry.description }}</td>
          <td class="p-2 col-1">{{ entry.cost }}</td>
          <td class="p-2 col-3">{{ entry.log_date }}</td>
          <td class="p-2 col-2">
            <button type="button" class="btn-sm btn-danger"
                    data-toggle="modal"
                    data-target="#exampleModal"
                    data-id="{{ entry.id }}"
                    data-desc="{{ entry.description }}"
                    data-cost="{{ entry.cost }}"
                    data-log_date="{{ entry.log_date }}"
            >Delete
            </button>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>

<!--    Second Table-->
    <div class="col-12">
      {#    Payment Area    #}
      {#    Payment due#}
      {% if due_customer %}
      <h5 class="pt-2 mt-2 text-center">Payment Due</h5>
      <table class="table table-sm table-striped">
        <thead>
        <tr class="d-flex bg-info text-white">
          <th class="p-2 col-1" scope="col">#</th>
          <th class="p-2 col-5" scope="col">Name</th>
          <th class="p-2 col-3" scope="col">Due Amount</th>
          <th class="p-2 col-3" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in due_customer %}
        <tr class="d-flex">
          <th class="p-2 col-1" scope="row">{{ forloop.counter }}</th>
          <th class="p-2 col-5" scope="row">{{ entry.customer__name }}</th>
          <td class="p-2 col-3">{{ entry.payment_due }}</td>
          <td class="col-3">
            <button type="button" class="btn-sm btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModal2"
                    data-cid="{{ entry.customer_id }}"
                    data-cname="{{ entry.customer__name }}"
                    data-dueamount="{{ entry.payment_due }}"
            >Make Payment</button>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
    </div>
    <!--    Third Table-->
    <div class="col-12">
      {# Paid customer #}
      {% if paid_customer %}
      <h5 class="pt-2 mt-2 text-center">Paid Customers</h5>
      <table class="table table-sm table-striped">
        <thead>
        <tr class="d-flex bg-info text-white">
          <th class="p-2 col-1" scope="col">#</th>
          <th class="p-2 col-4" scope="col">Name</th>
          <th class="p-2 col-2" scope="col">Adjusted Amount</th>
          <th class="p-2 col-2" scope="col">Accepted Amount</th>
          <th class="p-2 col-3" scope="col">Paid Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in paid_customer %}
        <tr class="d-flex">
          <th class="p-2 col-1" scope="row">{{ forloop.counter }}</th>
          <th class="p-2 col-4" scope="row">{{ entry.customer__name }}</th>
          <td class="p-2 col-2">{{ entry.adjusted_amount }}</td>
          <td class="p-2 col-2">{{ entry.payment_done }}</td>
          <td class="p-2 col-3"><b>{{ entry.total_paid }}</b></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
    </div>
    {% else %}
    <h3 class="pt-5 mt-4 text-center">Nothing to display at the moment</h3>
    {% endif %}
</div>
  <hr>

  {#  Delete Modal #}
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Expense</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form name="deleteExp" action="manageexpenses" method="post">{% csrf_token %}
          <input type="hidden" class="form-control" id="modal_id" name="id">
          <div class="p-4">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="modal_desc">Are you sure to delete?</label>
                <textarea id="modal_desc" class="form-control" name="w3review" rows="4" cols="50" disabled></textarea>
              </div>
            </div>
          <button type="submit" class="btn btn-danger justify-content-center col-12">Delete
          </button>
        </form>
      </div>
    </div>
    </div>
  </div>

  {#  Add expense Modal #}
  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Expense - {{ month_year }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form name="addexp" action="manageexpenses" method="post">{% csrf_token %}
          <input type="hidden" class="form-control" id="modal_id" name="month_year"
                 value="{{ month_year }}">
          <div class="p-4">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="name">Cost</label>
                <input type="number" step="0.01"  class="form-control" id="exp_cost" name="cost_amount"
                       placeholder="Amount">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="modal_desc">Description</label>
                <textarea id="modal_desc" class="form-control" placeholder="Narration of the expense" name="exp_desc"
                          rows="4" cols="50"></textarea>
              </div>
          </div>
          <button type="submit" class="btn btn-primary justify-content-center col-12">Add Expense
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>


  {#  Accept Payment Modal #}
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Accept Payment - {{ month_year }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form name="addexp" action="acceptpayment" method="post">{% csrf_token %}
          <input type="hidden" class="form-control" id="c_id" name="c_id">
          <div class="p-4">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="c_name" name="c_name"
                       disabled placeholder="Name">
              </div>
            </div>
              <div class="form-row">
              <div class="form-group col-md-12">
                <label for="name">Due Amount</label>
                <input type="text" class="form-control" id="c_dueamount" name="c_dueamount"
                       disabled placeholder="Due Amount">
              </div>
            </div>
              <div class="form-row">
              <div class="form-group col-md-12">
                <label for="name">Payment Amount</label>
                <input type="number" class="form-control" id="c_payment" name="c_payment"
                       placeholder="Amount">
              </div>
            </div>

          <button type="submit" class="btn btn-success justify-content-center col-12">Accept Payment
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>



  <script>
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var expense_id = button.data('id') // Extract info from data-* attribute
      var expense_desc = button.data('desc') // Extract info from data-* attribute
      var expense_cost = button.data('cost') // Extract info from data-* attribute
      var expense_log_date = button.data('log_date') // Extract info from data-* attribute
      var full_text = 'Expense of ' + expense_cost + ' dated ' + expense_log_date + ' towards: ' + expense_desc
      var modal = $(this)
      modal.find('#modal_id').val(expense_id)
      modal.find('#modal_desc').val(full_text)
    })

  {#  accept payment #}
      $('#exampleModal2').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var c_id = button.data('cid') // Extract info from data-* attribute
      var c_name = button.data('cname') // Extract info from data-* attribute
      var c_dueamount = button.data('dueamount') // Extract info from data-* attribute
      var modal = $(this)
      modal.find('#c_id').val(c_id)
      modal.find('#c_name').val(c_name)
      modal.find('#c_dueamount').val(c_dueamount)
      modal.find('#c_payment').val(c_dueamount)
    })
  </script>
{% endblock %}
<!-- Footer -->
{% include "register/footer.html" %}
