{% include "register/header.html" %}

<!-- Navbar content -->
{% block content %}
  <style>
      .cal-yes {
          border: 1px solid green;
          background-color: #80ced6;
      }

      .cal-no {
          border: 1px solid red;
          background-color: #f18973;
      }

      .cal-nodata {
          border: 1px solid grey;
      }

  </style>

  <div class="d-flex bd-highlight">
    <div class="col-6 mr-auto p-2 bd-highlight">
      <button type="button" class="btn mt-2 ml-2 btn-success" data-toggle="modal"
              data-target="#exampleModal1"
              data-whatever="@fat">+ Add new Entry
      </button>
    </div>
    <div class="justify-content-end inline p-2 bd-highlight">
      <form name="view_selectrecord" action="{% url 'view_selectrecord' %}"
            method="post">{% csrf_token %}
        <label for="myDate" class="col-form-label">Select Report:</label>
        <input type="hidden" name="nav-type" value="account" id="nav">
        <input class="inline" type="month" name="register_month" id="mydate"
               value="{% now 'Y-m' %}">
        <button type="submit" class="btn btn-info">GO</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="col">
      <h2 class="pt-2 text-center">Income and Expenses - {{ month_year }}</h2>
      {% if expenses %}
        <h5 class="pt-2 mt-2 text-center">Expenses</h5>
        <table class="table table-sm">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Cost</th>
            <th scope="col">Log Date</th>
          </tr>
          </thead>
          <tbody>
          {% for entry in expenses %}
            <tr>
              <th scope="row">{{ entry.id }}</th>
              <td>{{ entry.description }}</td>
              <td>{{ entry.cost }}</td>
              <td>{{ entry.log_date }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>


{#    Payment Area    #}




      {% else %}
        <h3 class="pt-5 mt-4 text-center">Nothing to display at the moment</h3>
      {% endif %}
  </div>
  </div>
{% endblock %}
<!-- Footer -->
{% include "register/footer.html" %}
