{% include "register/header.html" %}

<!-- Navbar content -->
{% block content %}
<div class="container">
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-12">
    <h2 class="pt-5 mt-4 text-center">Add New Customer</h2>
  <form name="addnew" action="addcustomer" method="post">{% csrf_token %}
    <div class="p-4">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail4">Contact</label>
          <input type="text" class="form-control" id="name" name="contact" placeholder="Contact">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail4">Email</label>
          <input type="text" class="form-control" id="name" name="email" placeholder="Email">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputState">Schedule: </label>


          <input class="ml-lg-5 ml-md-5" type="checkbox" id="morning" name="morning" value="1">
          <label for="vehicle1"> Morning</label>
          <input class="ml-lg-5 ml-md-5" type="checkbox" id="evening" name="evening" value="1">
          <label for="vehicle2"> Evening</label><br>

           <label for="inputZip">Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity" placeholder="ML">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary justify-content-center col-12">Add Customer</button>
  </form>
  </div>
  </div>
  </div>
{% endblock %}
<!-- Footer -->
{% include "register/footer.html" %}
