{% include "register/header.html" %}
<!-- Navbar content -->
{% block content %}
  <style>
      @media screen and (max-width: 420px) {
          .bill-table th {
              font-size: 0.9rem !important;
          }

          .bill-table td {
              font-size: 0.8rem !important;
          }
      }

      @media screen and (max-width: 290px) {
          .bill-table th {
              font-size: 0.7rem;
          }

          .bill-table td {
              font-size: 0.4rem;
          }
      }
  </style>
  <div class="row mt-2 justify-content-center">
    <div class="col-lg-10 col-md-12">
      <h2 class="text-center">Bill Views</h2>
    </div>
  </div>

  <hr>

  <div id="customer-list" class="container p-0 mb-5 bill-table">
    {% if all_bills %}
      <table id="example" class="table table-bordered table-striped" style="width:100%">
        <thead class="bg-info text-white">
        <tr>
          <th>Bill Number</th>
          <th>Bill Date</th>
          <th>Name</th>
          <th>Views</th>
          <th>Amount</th>
          <th>Payment Status</th>
        </tr>
        </thead>
        <tbody>
        {% for bill in all_bills %}
          <tr>
            <td><a target="_blank" href="/bill/{{ bill.bill_number }}">{{ bill.bill_number }}</a>
            </td>
            <td>{{ bill.bill_date }}</td>
            <td><a href="/register/profile/{{ bill.customer_id }}">{{ bill.customer_name }}</a>
            </td>
            <td class="font-weight-bold">{{ bill.views }}</td>
            <td>{{ bill.bill_amount }}</td>
            <td>{% if bill.payment_status %} <span class="text-success font-weight-bold">
              Paid {% else %} <span class="text-danger font-weight-bold">Due {% endif %}</span>
            </td>

          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h3 class="pt-5 mt-4 text-center">No Customers to display</h3>
    {% endif %}
  </div>

  <script>
    $(document).ready(function () {
      $('#example').DataTable({
        "order": [[1, "desc"]],
        "pageLength": 25,
        "scrollX": true
      });
    });
  </script>

{% endblock %}
<!-- Footer -->
{% include "register/footer.html" %}
