{% include "register/header.html" %}
<style>
    .quantity-input {
        font-size: 30px;
    }

    .inbox {
        max-width: 400px;
    }

    .item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #F1F1F1;
    }

    .item:last-child {
        border-bottom: 0;
    }

    input:checked + label {
        background: #c3e7b4;
        text-decoration: none;
    }

    input[type="checkbox"] {
        margin: 10px;
        width: 40px; /*Desired width*/
        height: 40px; /*Desired height*/
        cursor: pointer;

    }

    .schedule-label {
        margin: 0;
        padding: 10px;
        transition: background 0.5s;
        text-decoration: line-through;
        flex: 1;
        font-family: 'helvetica neue';
        font-size: 25px;
        font-weight: 200;
        border-radius: 5px;
    {#border-left: 1px solid green;#}
    }
</style>
<!-- Navbar content -->
{% block content %}
  <div class="d-flex bd-highlight mb-3">
    <div class="row col-12">
      <div class="col-lg-6 col-sm-12 mr-auto p-2 bd-highlight">
        <button type="button" class="btn mt-2 ml-2 btn-primary" data-toggle="modal"
                data-target="#exampleModal"
                data-whatever="@fat"><i class="fa fa-users"></i> | Add New Customer
        </button>
      </div>
      <div class="col-lg-6 col-sm-12 input-group mt-4">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
        </div>
        <input type="text" class="form-control" id="searchInput" onkeyup="mySearchFunction()"
               placeholder="Search Customer" autofocus>
      </div>
    </div>

  </div>

  {#  <button type="button" class="btn btn-info m-3" href="addcustomer">+ Add new customer</button>#}
  <div class="row mt-2 justify-content-center">
    <div class="col-lg-10 col-md-12">
      <h2 class="text-center">View Customers</h2>
    </div>
  </div>

  <hr>
  {#  ACTIVE CUSTOMERS #}
  <div id="customer-list" class="container mb-5">
    {% if customers %}
      {% for customer in customers %}
        {% if forloop.first %}
          <div class="row">{% endif %}
      <div class="col-md-4 p-3 col-sm-12">
        <div class="card text-white bg-info">
          {#          <img class="card-img-top" src="{{ customer.img }}" alt="Card image cap">#}
          <div class="card-body">
            <span class="card-title h4"><b>{{ customer.name }}</b></span><br>
            {% if customer.contact %}<span class="card-text">{{ customer.contact }}</span>
              <br>{% endif %}
            {% if customer.email %}<span class="card-text">{{ customer.email }}</span>
              <br>{% endif %}
            <span class="card-text">{{ customer.schedule }} | {{ customer.quantity|floatformat }} ML</span><br>
            <div class="row justify-content-center">
              {#              <button type="button" class="btn btn-secondary col-5 m-2">History</button>#}
              <a href="/register/profile/{{ customer.id }}" class="btn btn-secondary col-5 m-2">History</a>
              <button type="button" class="btn btn-secondary col-5 m-2" data-toggle="modal"
                      data-target="#exampleModal"
                      data-name="{{ customer.name }}"
                      data-id="{{ customer.id }}"
                      data-contact="{{ customer.contact }}"
                      data-email="{{ customer.email }}"
                      data-m-quantity="{{ customer.m_quantity|floatformat }}"
                      data-e-quantity="{{ customer.e_quantity|floatformat }}"
                      data-morning="{{ customer.morning }}"
                      data-evening="{{ customer.evening }}"
              >Edit
              </button>
            </div>

          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}</div>
        <hr>
        <div class="row">{% endif %}
      {% if forloop.last %}</div>{% endif %}
      {% endfor %}
    {% else %}
      <h3 class="pt-5 mt-4 text-center">No Customers to display</h3>
    {% endif %}


    {#  INACTIVE CUSTOMERS #}
    {% if inactive_customers %}
      <hr>
      <h3 class="pt-5 mt-4 text-center">Inactive Customers</h3>
      {% for customer in inactive_customers %}
        {% if forloop.first %}
          <div class="row">{% endif %}
      <div class="col-md-4 p-3 col-sm-12">
        <div class="card text-white bg-secondary">
          <div class="card-body">
            <span class="card-title h4"><b>{{ customer.name }}</b></span><br>
            {% if customer.contact %}<span class="card-text">{{ customer.contact }}</span>
              <br>{% endif %}
            {% if customer.email %}<span class="card-text">{{ customer.email }}</span>
              <br>{% endif %}
            {#            <span class="card-text">{{ customer.schedule }} | {{ customer.quantity }} ML</span><br>#}
            <div class="row justify-content-center">
              <a href="/register/profile/{{ customer.id }}" class="btn btn-secondary col-5 m-2">History</a>
              <button type="button" class="btn btn-secondary col-5 m-2" data-toggle="modal"
                      data-target="#exampleModal"
                      data-name="{{ customer.name }}"
                      data-id="{{ customer.id }}"
                      data-contact="{{ customer.contact }}"
                      data-email="{{ customer.email }}"
                      data-m-quantity="{{ customer.m_quantity|floatformat }}"
                      data-e-quantity="{{ customer.e_quantity|floatformat }}"
                      data-morning="{{ customer.morning }}"
                      data-evening="{{ customer.evening }}"
              >Edit
              </button>
            </div>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}</div>
        <hr>
        <div class="row">{% endif %}
      {% if forloop.last %}</div>{% endif %}
      {% endfor %}
    {% endif %}
  </div>


  {#  Modal #}
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Customer Entry</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form name="addnew" action="addcustomer" method="post">{% csrf_token %}
          <input type="hidden" class="form-control" id="recipient_id" name="id">
          <div class="p-4">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="name">Name</label>
                <input autofocus required type="text" class="form-control" id="recipient_name"
                       name="name"
                       placeholder="Enter Name">
              </div>
            </div>
            {% if tenant.sms_pref %}
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputEmail4">Contact</label>
                  <input type="text" class="form-control" id="recipient_contact" name="contact"
                         placeholder="Enter Contact">
                </div>
              </div>
            {% endif %}
            {% if tenant.email_pref %}
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputEmail4">Email</label>
                  <input type="text" class="form-control" id="recipient_email" name="email"
                         placeholder="Enter Email">
                </div>
              </div>
            {% endif %}
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Schedule</label>
                <div class="inbox mx-3">
                  <div class="item">
                    <input type="checkbox" id="recipient_morning"
                           name="morning">
                    <label for="recipient_morning" class="schedule-label"><i
                     class="fas fa-cloud-sun text-warning"></i> Monring</label>
                  </div>
                  <div class="item">
                    <input type="checkbox" id="recipient_evening"
                           name="evening">
                    <label for="recipient_evening" class="schedule-label"><i
                     class="fas fa-cloud-moon text-info"></i> Evening</label>
                  </div>
                </div>

                <label id="recipient-quantity-m-label" for="recipient-quantity-m">Morning
                  Quantity</label>
                <input class="form-control quantity-input font-weight-bold" step="0" type="number"
                       id="recipient-quantity-m"
                       name="m_quantity"
                       placeholder="Enter ML (Morning)">
                <label id="recipient-quantity-e-label" for="recipient-quantity-e">Evening
                  Quantity</label>
                <input class="form-control quantity-input font-weight-bold" step="0" type="number"
                       id="recipient-quantity-e"
                       name="e_quantity"
                       placeholder="Enter ML (Evening)">
              </div>
            </div>
            <button type="submit" class="btn btn-primary justify-content-center col-12">Save
              Customer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    $('#exampleModal').on('show.bs.modal', function (event) {
      let button = $(event.relatedTarget); // Button that triggered the modal
      let recipient_name = button.data('name'); // Extract info from data-* attributes
      let recipient_quantity_m = button.data('m-quantity') // Extract info from data-* attributes
      let recipient_quantity_e = button.data('e-quantity') // Extract info from data-* attributes
      let recipient_email = button.data('email') // Extract info from data-* attributesc
      let recipient_contact = button.data('contact') // Extract info from data-* attributesc
      let recipient_id = button.data('id') // Extract info from data-* attributesc
      let recipient_morning = button.data('morning') // Extract info from data-* attributesc
      let recipient_evening = button.data('evening') // Extract info from data-* attributesc
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      let modal = $(this)
      if (recipient_name) {
        modal.find('#recipient_name').val(recipient_name)
        $('#recipient_name').prop('disabled', true);
      } else {
        $('#recipient_name').prop('disabled', false);
        modal.find('#recipient_name').val('');
      }
      modal.find('#recipient_id').val(recipient_id)
      modal.find('#recipient-quantity-m').val(recipient_quantity_m)
      modal.find('#recipient-quantity-e').val(recipient_quantity_e)
      modal.find('#recipient_email').val(recipient_id)
      if (recipient_morning !== 'None')
        modal.find('#recipient_email').val(recipient_email)
      modal.find('#recipient_contact').val(recipient_contact)
      if (recipient_morning === 'True') {
        $('#recipient_morning').prop('checked', true);
        $('#recipient-quantity-m').show();
        $('#recipient-quantity-m-label').show();
      } else {
        $('#recipient_morning').prop('checked', false);
        $('#recipient-quantity-m').hide();
        $('#recipient-quantity-m-label').hide();
      }
      if (recipient_evening === 'True') {
        $('#recipient_evening').prop('checked', true);
        $('#recipient-quantity-e').show();
        $('#recipient-quantity-e-label').show();
      } else {
        $('#recipient_evening').prop('checked', false);
        $('#recipient-quantity-e').hide();
        $('#recipient-quantity-e-label').hide();
      }
    })

    {# Search Field #}

    function mySearchFunction() {
      var input, filter, customerList, li, a, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      customerList = document.getElementById("customer-list");
      li = customerList.getElementsByClassName("card-body");
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("b")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }

    {# Show / Hide quantity textbox based on the checkbox #}
    $(function () {
      $("#recipient_morning").click(function () {
        if ($(this).is(":checked")) {
          $("#recipient-quantity-m-label").show();
          $("#recipient-quantity-m").show().prop('required', true);
        } else {
          $("#recipient-quantity-m-label").hide();
          $("#recipient-quantity-m").hide().prop('required', false);
        }
      });
      $("#recipient_evening").click(function () {
        if ($(this).is(":checked")) {
          $("#recipient-quantity-e-label").show();
          $("#recipient-quantity-e").show().prop('required', true);
        } else {
          $("#recipient-quantity-e-label").hide();
          $("#recipient-quantity-e").hide().prop('required', false);
        }
      });
    });
  </script>

{% endblock %}
<!-- Footer -->
{% include "register/footer.html" %}
