</div>
<div
 class="text-center footer text-white {% if not request.user.is_superuser and user.is_authenticated and is_mobile %}footer-link-bg {% endif %}"
 style="margin-bottom:0">

  {% if not request.user.is_superuser and user.is_authenticated and is_mobile %}
    <div class="container p-1 footer">
      <div class="row d-flex justify-content-center flex-nowrap mt-1">
        <div class="col-2 p-0">
          <a
           class="nav-item nav-link text-center p-0 {% if menu_register %} text-warning {% else %} text-light{% endif %}"
           href="{% url 'view_register' %}" onclick="showFooterSpinnerFn(this);"><i
           class="fa fa-book"></i></br>
            <span class="footer-link-text">Register</span> </a>
        </div>
        <div class="col-2 p-0">

          <a
           class="nav-item nav-link text-center p-0 {% if menu_customer %} text-warning {% else %} text-light{% endif %}"
           href="{% url 'view_customers' %}" onclick="showFooterSpinnerFn(this);"><i
           class="fa fa-users"></i></br>
            <span class="footer-link-text">Customers</span> </a>
        </div>
        <div class="col-2 p-0">

          <a
           class="nav-item nav-link text-center p-0 {% if menu_account %} text-warning {% else %} text-light{% endif %}"
           href="{% url 'view_account' %}" onclick="showFooterSpinnerFn(this);"><i
           class="fas fa-rupee-sign"></i></br>
            <span class="footer-link-text">Accounts</span> </a>
        </div>
        <div class="col-2 p-0">

          <a
           class="nav-item nav-link text-center p-0 {% if menu_report %} text-warning {% else %} text-light{% endif %}"
           href="{% url 'view_report' %}" onclick="showFooterSpinnerFn(this);"><i
           class="fas fa-chart-bar"></i></br>
            <span class="footer-link-text">Reports</span> </a>
        </div>
        <div class="col-2 p-0">

          <a
           class="nav-item nav-link text-center p-0 {% if menu_setting %} text-warning {% else %} text-light{% endif %}"
           href="{% url 'setting' %}" onclick="showFooterSpinnerFn(this);"><i
           class="fa fa-cog"></i></br>
            <span class="footer-link-text">Setting</span> </a>
        </div>
      </div>
    </div>

  {% else %}
    <div class="footer_desktop">

      <div class="footer-compliance p-2 m-0 text-center">
        <a class="text-decoration-none text-light" href="{% url 'about_us' %}">About Us</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a class="text-decoration-none text-light" href="{% url 'product' %}">Product</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a class="text-decoration-none text-light" href="{% url 'privacy_policy' %}">Privacy
          Policy</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a class="text-decoration-none text-light" href="{% url 'return_refund' %}">Return &
          Refund</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a class="text-decoration-none text-light" href="{% url 'terms_conditions' %}">Terms of
          Service</a>
        {% if not user.is_authenticated and not is_mobile %}
          {% if not request.session.customer_session %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a class="text-decoration-none text-light" href="{% url 'customer_dashboard_login' %}">Login {{ request.session.customer_session }}</a>
          {% endif %}
        {% endif %}
      </div>
      <div class="copyright px-3 m-0">
        <div class="row">
          <div class="col-4 text-left py-4">
            <span>Copyrights &copy; {% now 'Y' %} | Milk Basket</span>
          </div>
          <div class="col-4 text-center milkman pt-2">
            <span>Bringing milkman online!</span>
          </div>
          <div class="col-4 text-right py-4">
            <span>Proudly Handcrafted in Raxaul Bihar, India.</span>
          </div>

        </div>


      </div>
    </div>
  {% endif %}
</div>

</body>
<script>
  {% if messages %}
    {% for message in messages %}
      show_toast('{{message.tags|capfirst}}', '{{message}}', '{{message.tags}}')
    {% endfor %}
  {% endif %}

  function showFooterSpinnerFn(myLink) {
    myLink.innerHTML = '<i style="font-size:8vw" class="fa fa-spinner fa-spin"></i>';
  }
</script>
</html>
