{% include "register/header.html" %}

<!-- Navbar content -->
{% block content %}
  <style>
      table {
          border-collapse: collapse;
      }

      table, td, th {
          border: 1px solid black;
      }

      * {
          box-sizing: border-box;
      }

      ul {
          list-style-type: none;
      }

      body {
          font-family: Verdana, sans-serif;
      }

      .month {
          padding: 70px 25px;
          width: 100%;
          background: #1abc9c;
          text-align: center;
      }

      .month ul {
          margin: 0;
          padding: 0;
      }

      .month ul li {
          color: white;
          font-size: 20px;
          text-transform: uppercase;
          letter-spacing: 3px;
      }

      .weekdays {
          margin: 0;
          padding: 10px 0;
          background-color: #ddd;
      }

      .weekdays li {
          display: inline-block;
          width: 13.6%;
          color: #666;
          text-align: center;
      }

      .days {
          padding: 10px 0;
          background: #eee;
          margin: 0;
      }

      .days div {
          list-style-type: none;
          display: inline-block;
          width: 13.6%;
      {#height: 1.5%;#} text-align: center;
          margin-bottom: 5px;
          font-size: 12px;
          color: #777;
      }

      .days div .active {
          padding: 5px;
          background: #1abc9c;
          color: white !important
      }

      /* Add media queries for smaller screens */
      @media screen and (max-width: 720px) {
          .weekdays li, .days li {
              width: 13.1%;
          }
      }

      @media screen and (max-width: 420px) {
          .weekdays li, .days li {
              width: 12.5%;
          }

          .days li .active {
              padding: 2px;
          }
      }

      @media screen and (max-width: 290px) {
          .weekdays li, .days li {
              width: 12.2%;
          }
      }

      .dash {
          border: 1px dashed #425858;
          border-collapse: collapse;
          padding-bottom: 25px !important;
          padding-top: 25px !important;
      }
  </style>
  <!-- Main Div -->
  <div class="container mb-5" class="row justify-content-center">


    <div class="col-12 mb-3">
      <!-- Customer Info Table-->
      <h2 class="pt-2 text-center"> {{ customer.name }}</h2>
      <div class="row">
        <table width="100%">
          <tr>
            <td class="p-3">Account Number: {{ customer.id }}</td>
            <td class="p-3">Default Quantity: {{ customer.quantity }} ML</td>
          </tr>
          <tr>
            <td class="p-3">Customer Since: {{ customer.member_since }}</td>
            <td class="p-3">Default Schedule: {{ customer.schedule }}</td>
          </tr>
        </table>
      </div>
    </div>


    <div class="col-12">
      <!-- Payment Due Table-->
      {% if payment_due_amount_till_date %}
        <h5 class="pt-2 mt-2 text-center">Payment Due</h5>
        <table class="table table-sm table-striped">
          <thead>
          <tr class="d-flex bg-info text-white">
            <th class="p-2 col-1" scope="col">#</th>
            <th class="p-2 col-5" scope="col">Total Due</th>
            <th class="p-2 col-4" scope="col">Due (till {{ previous_month_name }})</th>
            <th class="p-2 col-2" scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr class="d-flex">
            <th class="p-2 col-1" scope="row">1</th>
            <td class="p-2 col-5">{{ payment_due_amount_till_date }}</td>
            <td class="p-2 col-4">{% if payment_due_amount_prev_month %}
              <span class="font-weight-bold">{{ payment_due_amount_prev_month }}</span>
              <span class="text-info">{{ previous_month_name }}</span> {% endif %}</td>
            <td class="col-2">
              <button type="button" class="btn-sm btn-primary"
                      data-toggle="modal"
                      data-target="#exampleModal2"
                      data-cid="{{ customer.id }}"
                      data-cname="{{ customer.name }}"
                      data-dueamount="{{ payment_due_amount_till_date }}"
               {% if payment_due_amount_prev_month %}
                      data-prevdueamount="{{ payment_due_amount_prev_month }}"
               {% endif %}
              >Make Payment
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      {% endif %}
    </div>

    {#    {% if expenses or due_customer or paid_customer %}#}
    {% if transaction %}
      <!-- Transaction Table-->
      <div class="mt-4 col-12">
        <caption><h5 class="pt-2 mt-2 text-center">Transaction</h5></caption>
        <table class="table table-sm table-striped">
          <thead>
          <tr class="d-flex bg-info text-white">
            <th class="p-2 col-1" scope="col">#</th>
            <th class="p-2 col-2" scope="col">Transaction ID</th>
            <th class="p-2 col-6" scope="col">Transaction Date</th>
            <th class="p-2 col-3" scope="col">Amount</th>
          </tr>
          </thead>
          <tbody>
          {% for entry in transaction %}
            <tr class="d-flex">
              <th class="p-2 col-1" scope="row">{{ forloop.counter }}</th>
              <td class="p-2 col-2">{{ entry.id }}</td>
              <td class="p-2 col-6">{{ entry.log_date }}</td>
              <td class="p-2 col-3">{{ entry.amount }}</td>

              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

    {#  Bill Summary #}
    {% if bill_summary %}
      <!--    Bill Summary -->
      <div class="mt-4 mb-4 col-12">
        <h5 class="pt-2 mt-2 text-center">Bill Summary</h5>
        <table style="width:100%">
          <tr class=" bg-info text-white">
            <th class="p-2 text-center" colspan="2">Description</th>
            <th class="p-2 text-right">Amount</th>
          </tr>
          {% for bill in bill_summary %}
            {% if forloop.last %}
              <tr>
                <td class="p-2" colspan="2"><span style="color:red;font-size:10px;"> Note: Efforts have been made to maintain the data accuracy. However, data reflected in this bil might not be up to date. This bill reflects data last updated on {{ bill.last_updated }}. This bill was generated on {{ bill.today }}.</span>
                </td>
                <td colspan="1"><h4 class="p-2 text-nowrap text-right font-weight-bold"> Grand
                  Total: {{ bill.sum_total }}</h4></td>
                {% else %}
                <td class="m-2 dash text-center" rowspan="2">{{ bill.month_year }}</td>
              <tr>
                <td class="m-2 dash text-right">
                  {% for bill_month in bill.desc %}

                    {% if forloop.last %}
                      </td>
                      <td
                       class="m-2 p-2 dash text-right"><h5
                       class="font-weight-bold">{{ bill_month.total }}</h5></td>
                    {% else %}
                      <p
                       class="m-2">{{ bill_month.quantity }} ML
                        <strong>&nbsp;X&nbsp;</strong> {{ bill_month.desc }}
                        = {{ bill_month.amount }}</p>

                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
              </tr>
            {% endif %}

          {% endfor %}
        </table>
      </div>
    {% endif %}

    {#  Calendar #}
    {% if calendar %}
      <!--  Calendar -->
      <div class="mt-4 col-12">
        {% for month in calendar %}
          <div class="month">
            <ul>
              <li>
                {{ month.month }} {{ month.year }}
              </li>
            </ul>
          </div>

          <ul class="col-12 weekdays">
            <li>Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>
            <li>Thursday</li>
            <li>Friday</li>
            <li>Saturday</li>
            <li>Sunday</li>
          </ul>
          <ul class="days">
            {% for day in month.week_start_day %}
              <div></div>
            {% endfor %}
            {% for day in month.days_in_month %}
              <div class="p-1"><h2>{{ day.day }}</h2>
                {% if day.data %}{% for entry in day.data %}
                  {% if entry.morning %}<span class="d-block text-white bg-primary p-1">
            Morning: {{ entry.quantity }} {% if entry.absent %}
                    <span class="p-1 bg-danger text-white"> ABSENT </span>{% endif %}</span>
                    {% if not entry.absent %}
                      {% if entry.paid %}
                        <span class="d-block bg-success text-white p-1"> PAID</span>
                      {% else %}
                        <span class="d-block bg-warning text-white p-1">DUE</span>
                      {% endif %}{% endif %}
                  {% endif %}
                  {% if entry.evening %}<span class="d-block text-white bg-primary p-1">
            Evening: {{ entry.quantity }} {% if entry.absent %}
                    <span class="p-1 bg-danger text-white"> ABSENT </span>{% endif %}</span>
                    {% if not entry.absent %}
                      {% if entry.paid %}
                        <span class="d-block bg-success text-white p-1"> PAID </span>
                      {% else %}
                        <span class="d-block bg-warning text-white p-1">DUE</span>
                      {% endif %}{% endif %}
                  {% endif %}

                {% endfor %}{% endif %}
              </div>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    {% endif %}

    {% if register %}
      <!--   Register Entry Table-->
      <div class="mt-4 col-12">
        <caption><h5 class="pt-2 mt-2 text-center">Register Entry</h5></caption>
        <table class="table table-sm table-striped">
          <thead>
          <tr class="d-flex bg-info text-white">
            <th class="p-2 col-1" scope="col">#</th>
            <th class="p-2 col-1" scope="col">Entry ID</th>
            <th class="p-2 col-3" scope="col">Transaction Date</th>
            <th class="p-2 col-2" scope="col">Schedule</th>
            <th class="p-2 col-1" scope="col">Quantity</th>
            <th class="p-2 col-1" scope="col">@ Price / L</th>
            <th class="p-2 col-2" scope="col">Billed Amount</th>
            <th class="p-2 col-1" scope="col">Payment Status</th>
          </tr>
          </thead>
          <tbody>
          {% for entry in register %}
            <tr class="d-flex">
              <th class="p-2 col-1" scope="row">{{ forloop.counter }}</th>
              <td class="p-2 col-1">{{ entry.id }}</td>
              <td class="p-2 col-3">{{ entry.display_log_date }}</td>
              <td class="p-2 col-2">{{ entry.display_schedule }}</td>
              <td class="p-2 col-1">{{ entry.quantity }}</td>
              <td class="p-2 col-1">{{ entry.current_price }}</td>
              <td class="p-2 col-2">{{ entry.billed_amount }}</td>
              <td
               class="p-2 col-1 font-weight-bold{% if entry.display_paid == 'Paid' %} text-success {% else %} text-danger {% endif %}">{{ entry.display_paid }}</td>

              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <p class="text-center"> --- END OF PAGE ---</p>
    {% endif %}



    {#  Accept Payment Modal #}
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Accept Payment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form name="addexp" action="/acceptpayment" method="post">{% csrf_token %}
            <input type="hidden" class="form-control" id="return_url" name="return_url"
                   value="profile/{{ customer.id }}">
            <input type="hidden" class="form-control" id="c_id" name="c_id">
            <div class="p-4">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="name">Name</label>
                  <input autofocus type="text" class="form-control" id="c_name" name="c_name"
                         disabled placeholder="Name">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="name">Due Amount</label>
                  <input type="text" class="form-control" id="c_dueamount" name="c_dueamount"
                         disabled placeholder="Due Amount">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="name">Payment Amount (<span
                   id="prevmonthdue">Till date</span>)</label>
                  <input type="number" step="0.01" class="form-control" id="c_payment"
                         name="c_payment"
                         placeholder="Amount">
                </div>
              </div>

              <button type="submit" class="btn btn-success justify-content-center col-12">Accept
                Payment
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  <script>
    {#  accept payment #}
    $('#exampleModal2').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var c_id = button.data('cid') // Extract info from data-* attribute
      var c_name = button.data('cname') // Extract info from data-* attribute
      var c_dueamount = button.data('dueamount') // Extract info from data-* attribute
      var c_prevdueamount = button.data('prevdueamount') // Extract info from data-* attribute
      var modal = $(this)
      modal.find('#c_id').val(c_id);
      modal.find('#c_name').val(c_name);
      modal.find('#c_dueamount').val(c_dueamount);
      if (c_prevdueamount) {
        modal.find('#c_payment').val(c_prevdueamount);
        modal.find('#prevmonthdue').text('Due till {{ previous_month_name }}');
      } else {
        modal.find('#c_payment').val(c_dueamount)
        modal.find('#prevmonthdue').text('Due till date');
      }
    })
  </script>
{% endblock %}
<!-- Footer -->
{% include "register/footer.html" %}
