{% include "register/header.html" %}

<!-- Navbar content -->
{% block content %}
  <style>


    {#   Edit Profile modal #}
    .quantity-input {
        font-size: 30px;
    }

    .inbox {
        max-width: 400px;
    }

    .item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #F1F1F1;
    }

    .item:last-child {
        border-bottom: 0;
    }

    input:checked + label {
        background: #c3e7b4;
        text-decoration: none;
    }

    .edit-form input[type="checkbox"] {
        margin: 10px;
        width: 40px; /*Desired width*/
        height: 40px; /*Desired height*/
        cursor: pointer;
    }

    .schedule-label {
        margin: 0;
        padding: 10px;
        transition: background 0.5s;
        text-decoration: line-through;
        flex: 1;
        font-family: 'helvetica neue';
        font-size: 25px;
        font-weight: 200;
        border-radius: 5px;
    {#border-left: 1px solid green;#}
    }

  </style>
  <!-- Main Div -->
  <div class="container mb-5 p-0" class="row justify-content-center">

    {% if nocustomer %}
      <h2 class="text-center text-secondary m-5 p-5">Customer Not Found</h2>
    {% else %}

      <div class="col-12 mb-3">
        <!-- Customer Info Table-->
        <h2 class="pt-2 text-center"> {{ customer.name }}
          <button type="button" class="btn btn-primary m-2 text-right" data-toggle="modal"
                  data-target="#editProfileModal"
                  data-name="{{ customer.name }}"
                  data-id="{{ customer.id }}"
                  data-contact="{{ customer.contact }}"
                  data-email="{{ customer.email }}"
                  data-m-quantity="{{ customer.m_quantity|floatformat }}"
                  data-e-quantity="{{ customer.e_quantity|floatformat }}"
                  data-morning="{{ customer.morning }}"
                  data-evening="{{ customer.evening }}"
          ><i class="fas fa-user-edit"></i> Edit
          </button>
        </h2>

        <div class="row">
          <table width="100%">
            <tr>
              <td class="p-3 bg-light ">Account Number: {{ customer.id }}</td>
              <td class="p-3 bg-light ">Default Quantity: <span
               id="custQuantity">
                {% if customer.m_quantity %}
                  {{ customer.m_quantity|floatformat }} ML (Morning).
                {% endif %}
                {% if customer.e_quantity %}
                  {{ customer.e_quantity|floatformat }} ML (Evening).
                {% endif %}
                </span>
              </td>
            </tr>
            <tr>
              <td class="p-3 bg-light ">Customer Since: {{ customer.member_since }}</td>
              {% if customer.schedule %}
                <td class="p-3 bg-light ">Default Schedule: <span
                 id="custSchedule">{{ customer.schedule }}</span></td>
              {% else %}
                <td class="p-3 text-danger bg-light font-weight-bold">Customer Account Inactive
                </td>
              {% endif %}

            </tr>
          </table>
        </div>
      </div>

      {% load mathfilters %}
      <div class="col-12 p-0">
        <!-- Payment Due Table-->
        {% if payment_due_amount_till_date %}
          <h5 class="pt-2 mt-2 text-center">Payment Due</h5>
          <table class="table table-sm table-striped">
            <thead>
            <tr class="d-flex bg-info text-white">
              <th class="p-2 col-4" scope="col">Total Due</th>
              <th class="p-2 col-4" scope="col">Due (till {{ previous_month_name }})</th>
              <th class="p-2 col-4" scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="d-flex">
              {% if payment_due_amount_till_date < 0 %}
                <td class="p-2 col-4">{{ payment_due_amount_till_date|abs }} <span
                 class="text-success">(Advance)</span>
                  {% if total_due_amount > 0 %}
                    <button type="button" class="btn-sm btn-warning"
                            data-toggle="modal"
                            data-target="#exampleModal3"
                    >Settle Up
                    </button>{% endif %}
                  {% if total_due_amount == 0 %}
                    <button type="button" class="btn-sm btn-warning"
                            data-toggle="modal"
                            data-target="#exampleModal4"
                    >Refund Advance
                    </button>{% endif %}

                </td>
              {% else %}
                <td class="p-2 col-4">{{ payment_due_amount_till_date }}</td>
              {% endif %}
              <td class="p-2 col-4">{% if payment_due_amount_prev_month > 0 %}
                <span class="font-weight-bold">{{ payment_due_amount_prev_month }}</span>
                <span class="text-info">{{ previous_month_name }}</span> {% endif %}</td>
              <td class="col-4">
                <button type="button" class="btn-sm btn-primary"
                        data-toggle="modal"
                        data-target="#exampleModal2"
                        data-cid="{{ customer.id }}"
                        data-cname="{{ customer.name }}"
                        data-dueamount="{{ payment_due_amount_till_date }}"
                 {% if not payment_due_amount_prev_month or is_last_day_of_month or tenant.bill_till_date %}
                        data-dueamount="{{ payment_due_amount_till_date }}"
                        data-monthname="1"
                 {% else %}
                        data-prevdueamount="{{ payment_due_amount_prev_month }}"
                        data-monthname="0"
                 {% endif %}
                >Make Payment
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        {% endif %}
      </div>

      {#  Bill Summary #}
      {% if bill_summary %}
        <!--    Bill Summary -->

        <div class="text-center">
          {% if tenant.download_pdf_pref and payment_due_amount_till_date > 0 %}
            <a target="_blank"
               href="{% url 'print_bill' customer.id %}"
               class="btn btn-primary mb-1"><i
             class="fa fa-print" aria-hidden="true"></i> Print / Download</a>
          {% endif %}
          {% if tenant.sms_pref %}
            {% if customer.contact and payment_due_amount_till_date > 0 %}
              <button id="sendsmsbuttonmain" type="button" class="btn btn-primary mb-1"
                      data-toggle="modal"
                      data-target="#smsModal"
                      data-cname="{{ customer.name }}"
                      data-c_contact="{{ customer.contact }}"
                      data-c_smstext="{{ sms_text }}"
              ><i class="fas fa-sms"></i> Send SMS
              </button>{% endif %}
          {% endif %}
          {% if tenant.whatsapp_pref and payment_due_amount_till_date > 0 %}
            <button id="sendOnWAInit" onclick="shareOnWhatsApp()" type="button"
                    class="btn btn-primary mb-1">
              <i class="fab fa-whatsapp"></i> Share on WhatsApp
            </button>
          {% endif %}
          {% if tenant.email_pref and payment_due_amount_till_date > 0 %}
            {% if customer.email %}
              <button id="sendOnEmailInit" onclick="sendEmail()" type="button"
                      class="btn btn-primary mb-1">
                <i class="fas fa-envelope-open-text"></i> Send Email
              </button>
            {% endif %}
          {% endif %}
        </div>

        <h5 class="pt-2 mt-2 text-center">Bill Summary </h5>
        {# Check in session if SMS was already sent and disable button #}
        <script>
          if (sessionStorage.getItem("sms_{{ customer.id }}")) {
            {#document.getElementById("sendsmsbuttonmain{{ entry.customer_id }}").disabled = true;#}
            document.getElementById("sendsmsbuttonmain").innerText = 'SMS Sent';
            document.getElementById("sendsmsbuttonmain").classList.remove('btn-info');
            document.getElementById("sendsmsbuttonmain").classList.add('btn-secondary');
          }
          if (sessionStorage.getItem("wa_{{ customer.id }}")) {
            {#document.getElementById("sendsmsbuttonmain{{ entry.customer_id }}").disabled = true;#}
            document.getElementById("sendOnWAInit").innerText = 'Shared on WhatsApp';
            document.getElementById("sendOnWAInit").classList.remove('btn-info');
            document.getElementById("sendOnWAInit").classList.add('btn-secondary');
          }
          if (sessionStorage.getItem("email_{{ customer.id }}")) {
            {#document.getElementById("sendsmsbuttonmain{{ entry.customer_id }}").disabled = true;#}
            document.getElementById("sendOnEmailInit").innerText = 'Email Sent';
            document.getElementById("sendOnEmailInit").classList.remove('btn-info');
            document.getElementById("sendOnEmailInit").classList.add('btn-secondary');
          }
        </script>
        <div class="mt-4 mb-4 col-12  p-0" style="overflow-x:auto;">
          <table style="width:100%">
            <tr class=" bg-info text-white">
              <th class="p-2 text-center" colspan="2">Description</th>
              <th class="p-2 text-right">Amount</th>
            </tr>
            {% load mathfilters %}
            {% for bill in bill_summary %}
              {% if forloop.last %}
                <tr>
                  <td class="p-2" colspan="2"><span style="color:dimgrey;font-size:10px;"> Note: Efforts have been made to maintain the data accuracy. However, data reflected in this bill might not be up to date. This bill reflects data last updated on {{ bill.last_updated }}. This bill was generated on {{ bill.today }}. {{ milk_price }}</span>
                  </td>
                  <td colspan="1">
                    {% if bill.balance %}
                      <h6 class="pr-2 text-nowrap text-right font-weight-bold">
                        {{ bill.sub_total }}</h6>
                      <h6 class="pr-2 text-nowrap text-right font-weight-bold"> Balance :
                        -{{ bill.balance }}</h6>{% endif %}
                    <h5 class="p-2 text-nowrap text-right font-weight-bold">
                      Total: {{ bill.sum_total }}</h5></td>
                  {% else %}
                  <td class="m-2 dash text-center" rowspan="2">{{ bill.month_year }}</td>
                <tr>
                  <td class="m-2 dash text-right">
                    {% for bill_month in bill.desc %}

                      {% if forloop.last %}
                        </td>
                        <td
                         class="m-2 p-2 dash text-right"><h6
                         class="font-weight-bold">{{ bill_month.total }}</h6></td>
                      {% else %}
                        <p
                         class="m-2">{{ bill_month.quantity }} ML
                          <strong>&nbsp;X&nbsp;</strong> {{ bill_month.desc }} unit(s)
                          = {{ bill_month.total_units|div:1000 }} L</p>

                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
                </tr>
              {% endif %}

            {% endfor %}
          </table>
        </div>
      {% endif %}

      {% if transaction %}
        <!-- Transaction Table-->
        <div class="mt-4 col-12  p-0" style="overflow-x:auto;">
          <caption><h5 class="pt-2 mt-2 text-center">Transaction</h5></caption>
          <table class="table table-sm table-striped">
            <thead>
            <tr class="d-flex bg-info text-white">
              <th class="p-2 col-2" scope="col">#Tnx</th>
              <th class="p-2 col-6" scope="col">Transaction Date</th>
              <th class="p-2 col-4" scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in transaction %}
              <tr class="d-flex">
                <td class="p-2 col-2">#{{ entry.id }}</td>
                <td class="p-2 col-6">{{ entry.log_date }}
                  {#                  {% if entry.payment_mode == 'ONLINE' %}#}
                  {#                    <a target="_blank"#}
                  {#                       href="{% url 'check_txn_status' entry.transaction_id %}">{{ entry.payment_mode }}</a>{% else %}#}
                  <span class="text-info">{{ entry.payment_mode }}
{#      {% endif %}#}
                  </span></td>
                <td class="p-2 col-4">{{ entry.amount }}
                  {% if entry.refund_notes %}
                    <span class="text-info">{{ entry.refund_notes }}</span>
                  {% endif %}
                  {% if forloop.last and is_revertible %}
                    <button id="reverttransactionbuttonmain" type="button"
                            class="btn btn-danger mb-1"
                            data-toggle="modal"
                            data-target="#revertTransactionModal"
                            data-trans_id="{{ entry.id }}"
                            data-trans-amount="{{ entry.amount }}"
                            data-trans-date="{{ entry.log_date }}"
                    ><i class="fas fa-undo"></i> Revert Transaction
                    </button>{% endif %}
                </td>

                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}

      {#  Calendar #}
      {% if calendar %}
        {% include "register/snippet/calendar.html" %}
      {% endif %}

      {% if register %}
        <!--   Register Entry Table-->
        <div class="mt-4 col-12  p-0" style="overflow-x:auto;">
          <caption><h5 class="pt-2 mt-2 text-center">Register Entry</h5></caption>
          <table class="table table-sm table-striped">
            <thead>
            <tr class="d-flex bg-info text-white">
              <th class="p-1 col-1" scope="col">#</th>
              <th class="p-1 col-3" scope="col">Date</th>
              {#              <th class="p-1 col-2" scope="col">Time</th>#}
              <th class="p-1 col-2" scope="col">Quota</th>
              <th class="p-1 col-2" scope="col">Price/L</th>
              <th class="p-1 col-2" scope="col">Billed</th>
              <th class="p-1 col-2" scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in register %}
              <tr class="d-flex">
                <th class="p-1 col-1" scope="row">{{ forloop.counter }}</th>
                <td class="p-1 col-3">{{ entry.display_log_date }}</td>
                {#                <td class="p-1 col-2">{{ entry.display_schedule }}</td>#}
                <td class="p-1 col-2">{{ entry.quantity|floatformat }} ML</td>
                <td class="p-1 col-2">{{ entry.current_price }}</td>
                <td class="p-1 col-2">{{ entry.billed_amount }}</td>
                <td
                 class="p-1 col-2 font-weight-bold{% if entry.display_paid == 'Paid' %} text-success {% else %} text-danger {% endif %}">{{ entry.display_paid }}</td>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <p class="text-center mb-5 pb-5 text-secondary"> --- END OF PAGE ---</p>
      {% endif %}



      {#  Accept Payment Modal #}
      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Accept Payment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form name="addexp" action="{% url 'accept_payment' %}"
                  method="post">{% csrf_token %}
              <input type="hidden" class="form-control" id="return_url" name="return_url"
                     value="profile/{{ customer.id }}">
              <input type="hidden" class="form-control" id="c_id" name="c_id">
              <div class="p-4">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="name">Name</label>
                    <input autofocus type="text" class="form-control" id="c_name" name="c_name"
                           disabled placeholder="Name">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="name">Due Amount</label>
                    <input type="text" class="form-control" id="c_dueamount" name="c_dueamount"
                           disabled placeholder="Due Amount">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="name">Payment Amount (<span
                     id="prevmonthdue">Till date</span>)</label>
                    <input type="number" step="0.01" class="form-control font-weight-bold"
                           id="c_payment"
                           name="c_payment"
                           placeholder="Amount">
                  </div>
                </div>
                {% if customer.contact %}
                  <div class="form-row">
                    <div class="form-group col-md-12 send-sms-checkbox">
                      <label for="name">Send SMS Notification </label>
                      <input type="checkbox" id="sms-notification" name="sms-notification"
                             checked
                             value="1">
                    </div>
                  </div>
                {% endif %}

                <button type="submit" class="btn btn-primary justify-content-center col-12"
                        onclick="acceptPaymentFn(this);">
                  Accept
                  Payment
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>


      {#  SMS Modal #}
      <div class="modal fade" id="smsModal" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Send SMS</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="sendsmsform" name="sendsms" action="{% url 'send_sms' %}"
                  method="post">{% csrf_token %}
              <input type="hidden" class="form-control" id="return_url" name="return_url"
                     value="profile/{{ customer.id }}">
              <input type="hidden" class="form-control" id="c_id" name="c_id">
              <div class="p-4">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="name">Name</label>
                    <input autofocus type="text" class="form-control" id="c_name" name="c_name"
                           disabled placeholder="Name">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="name">Contact</label>
                    <input type="number" step="1" min="6000000000" max="9999999999"
                           onKeyPress="if(this.value.length==10) return false;"
                           class="form-control"
                           id="c_contact" name="c_contact"
                           placeholder="Mobile Number">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="textareabox">SMS Text</label>
                    <textarea class="container" id="smstextareabox" name="smstextareabox"
                              rows="4"
                              cols="50">
                  </textarea>
                  </div>
                </div>

                <button id="sendsmsbutton" type="submit"
                        class="btn btn-primary justify-content-center col-12">Send SMS
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>


      {# Confirm Transaction Revert Model #}
      <div class="modal fade" id="revertTransactionModal" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel2">Revert Transaction <span
               class="text-danger font-weight-bold" id="t_id_val_head"></span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="revert-trans-form" name="revert-trans"
                  action="{% url 'revert_transaction' %}" method="post">{% csrf_token %}

              <input type="hidden" class="form-control" id="c_id" name="c_id"
                     value="{{ customer.id }}">
              <div class="p-4">
                <div class="form-row d-flex justify-content-center">
                  {#                  <input type="text" id="t_id_val" disabled value="">#}
                  <p> Are you sure you want to revert transaction?</p>
                  <p class="text-secondary text-center p-2" id="trans-details"></p>
                </div>
                <button id="reverttransactionbutton" type="submit"
                        class="btn btn-danger justify-content-center col-12">Revert Transacion
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>


      {#  Edit Profile Modal #}
      <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-user-edit"></i>
                Edit
                Customer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="updateCustomerForm" name="edit-customer" action="{% url 'add_customer' %}"
                  method="post">{% csrf_token %}
              <input type="hidden" class="form-control" id="recipient_id" name="id">
              <input type="hidden" class="form-control" id="redirect_url" name="redirect_url"
                     value="None">
              <div class="p-4">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="name">Name</label>
                    <input autofocus required type="text" class="form-control"
                           id="recipient_name"
                           name="name"
                           placeholder="Enter Name">
                  </div>
                </div>
                {% if tenant.sms_pref %}
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="inputEmail4">Contact</label>
                      <input type="number" step="1" min="6000000000" max="9999999999"
                             onKeyPress="if(this.value.length==10) return false;"
                             class="form-control" id="recipient_contact" name="contact"
                             placeholder="Enter Contact">
                    </div>
                  </div>
                {% endif %}
                {% if tenant.email_pref %}
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="inputEmail4">Email</label>
                      <input type="text" class="form-control" id="recipient_email" name="email"
                             placeholder="Enter Email">
                    </div>
                  </div>
                {% endif %}
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Schedule</label>
                    <div class="inbox mx-3 edit-form">
                      <div class="item">
                        <input type="checkbox" id="recipient_morning"
                               name="morning">
                        <label for="recipient_morning" class="schedule-label"><i
                         class="fas fa-cloud-sun text-warning"></i> Monring</label>
                      </div>
                      <div class="item">
                        <input type="checkbox" id="recipient_evening"
                               name="evening">
                        <label for="recipient_evening" class="schedule-label"><i
                         class="fas fa-cloud-moon text-info"></i> Evening</label>
                      </div>
                    </div>

                    <label id="recipient-quantity-m-label" for="recipient-quantity-m">Morning
                      Quantity</label>
                    <input class="form-control quantity-input font-weight-bold" step="0"
                           type="number"
                           id="recipient-quantity-m"
                           name="m_quantity"
                           placeholder="Enter ML (Morning)">
                    <label id="recipient-quantity-e-label" for="recipient-quantity-e">Evening
                      Quantity</label>
                    <input class="form-control quantity-input font-weight-bold" step="0"
                           type="number"
                           id="recipient-quantity-e"
                           name="e_quantity"
                           placeholder="Enter ML (Evening)">
                  </div>
                </div>
                <button id="editButton" type="submit"
                        class="btn btn-primary justify-content-center col-12">Update
                  Customer
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>


      {#      Settle Up Modal #}
      <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Settle Up Advance
                - {{ customer.name }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form name="settleup" action="{% url 'customer_settle_up' %}"
                  method="post">{% csrf_token %}
              <input type="hidden" class="form-control" id="c_id" name="c_id"
                     value="{{ customer.id }}">
              <div class="p-4">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="name">Are you sure to settle up the Advance amount against any
                      remaining due Register entry?</label>
                    <hr>
                    <label class="d-block" for="Advance">Available
                      Advance: {{ balance_amount|floatformat:2 }}</label>
                    <label class="d-block" for="Due">Total
                      Due: {{ total_due_amount|floatformat:2 }}</label>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary justify-content-center col-12"
                        onclick="acceptPaymentFn(this);">
                  Settle Up
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      {# Refund Modal #}
      <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Refund Advance
                - {{ customer.name }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form name="refund_balance" action="{% url 'customer_refund' %}"
                  method="post">{% csrf_token %}
              <input type="hidden" class="form-control" id="c_id" name="c_id"
                     value="{{ customer.id }}">
              <div class="p-4">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="name">Are you sure to refund remaining Advance?</label>
                    <hr>
                    <label class="d-block" for="Advance">Available
                      Advance: {{ balance_amount|floatformat:2 }}</label>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary justify-content-center col-12"
                        onclick="acceptPaymentFn(this);">
                  Refund ₹ {{ balance_amount|floatformat:2 }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>



      </div>

      <script>
        {#  accept payment #}
        $('#exampleModal2').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var c_id = button.data('cid') // Extract info from data-* attribute
          var c_name = button.data('cname') // Extract info from data-* attribute
          var c_dueamount = button.data('dueamount') // Extract info from data-* attribute
          var c_prevdueamount = button.data('prevdueamount') // Extract info from data-* attribute
          var biiL_till_date = button.data('monthname') // Extract info from data-* attribute
          var modal = $(this)
          modal.find('#c_id').val(c_id);
          modal.find('#c_name').val(c_name);
          modal.find('#c_dueamount').val(c_dueamount);
          if (biiL_till_date === 1) {
            modal.find('#c_payment').val(c_dueamount);
            modal.find('#prevmonthdue').text('Due till date');
          } else {
            modal.find('#c_payment').val(c_prevdueamount);
            modal.find('#prevmonthdue').text('Due till {{ previous_month_name }}');
          }
        })

        {#  send sms  #}
        $('#smsModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var c_name = button.data('cname') // Extract info from data-* attribute
          var c_contact = button.data('c_contact') // Extract info from data-* attribute
          var c_smstext = button.data('c_smstext') // Extract info from data-* attribute
          var modal = $(this)
          modal.find('#c_name').val(c_name);
          modal.find('#c_contact').val(c_contact);
          modal.find('#smstextareabox').val(c_smstext);
          if (sessionStorage.getItem("sms_{{ customer.id }}")) {
            document.getElementById("sendsmsbutton").innerText = 'SMS Sent Successfully';
            document.getElementById("sendsmsbutton").disabled = true;
            show_toast('Warning', 'You have already sent SMS to ' + c_name, 'warning')
          } else {
            document.getElementById("sendsmsbutton").innerText = 'Send SMS';
            document.getElementById("sendsmsbutton").disabled = false;
          }
        })

        {# revert Transaction model   #}
        $('#revertTransactionModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var t_id = '#' + button.data('trans_id') // Extract info from data-* attribute
          var t_amount = button.data('trans-amount') // Extract info from data-* attribute
          var t_date = button.data('trans-date') // Extract info from data-* attribute
          var modal = $(this)
          modal.find('#t_id_val_head').text(t_id);
          modal.find('#t_id_val').text(t_id);
          modal.find('#trans-details').text('₹ ' + t_amount + ' on ' + t_date);
        })

        {#  Ajax for Revert Transactoin  #}
        document.getElementById("revert-trans-form").addEventListener("submit", revertTransFunction);

        function revertTransFunction() {
          document.getElementById("reverttransactionbutton").innerHTML = '<i class="fa fa-spinner fa-spin"></i> Please Wait…';
          document.getElementById("reverttransactionbutton").disabled = true;
          event.preventDefault()
          $.post($(this).attr('action'), $(this).serialize(), function (data) {
            if (data.status === 'success') {
              document.getElementById("reverttransactionbuttonmain").disabled = true;
              document.getElementById("reverttransactionbutton").innerText = 'Reverted';
              {#show_toast('Transaction reverted successfully', 'success');#}
              location.reload();
            } else {
              // Error code here
              document.getElementById("reverttransactionbuttonmain").disabled = false;
              document.getElementById("reverttransactionbutton").disabled = false;
              {#show_toast('Error', 'Something went wrong, could not revert transaction', 'danger');#}
            }
          }, 'json')
        }

        {#  Ajax for Send SMS  #}
        document.getElementById("sendsmsform").addEventListener("submit", sendSMSFunction);

        function sendSMSFunction() {
          document.getElementById("sendsmsbutton").disabled = true;
          event.preventDefault()
          $.post($(this).attr('action'), $(this).serialize(), function (data) {
            if (data.status === 'success') {
              document.getElementById("sendsmsbuttonmain").disabled = true;
              document.getElementById("sendsmsbutton").innerText = 'SMS Sent Successfully';
              {#  Update in session to disable send button#}
              sessionStorage.setItem("sms_{{ customer.id }}", 'sent');
              $(".modal-backdrop").remove();
              $('#smsModal').modal('hide');
              show_toast('SMS Sent', 'SMS has been successfully sent to {{ customer.name }}', 'success')
            } else {
              // Error code here
              document.getElementById("sendsmsbutton").disabled = false;
              document.getElementById("sendsmsbuttonmain").disabled = false;
              show_toast('Error', 'Something went wrong, we could not send SMS', 'danger')
            }
          }, 'json')
        }

        function shareOnWhatsApp() {
          document.getElementById("sendOnWAInit").innerText = 'Please Wait...';
          $.get("/print-bill/{{ customer.id }}/no-download/", function (data, status) {
            if (data.status === 'success') {
              document.getElementById("sendOnWAInit").disabled = true;
              document.getElementById("sendOnWAInit").innerText = 'Shared';
              var share_text = encodeURIComponent('Dear {{ customer.name }}, your bill of *₹ ' + data.amount + '* for the month of ' + data.month_year + ' has been generated.\nYou can view the bill at 🧾👉 https://milk.cyberboy.in/bill/' + data.bill_number + '\n\n[Milk Basket]');
              {% if tenant.whatsapp_direct_pref and customer.contact %}
                var url = "https://api.whatsapp.com/send?phone=91{{ customer.contact }}&text=" + share_text;
              {% else %}
                var url = "https://api.whatsapp.com/send?text=" + share_text;
              {% endif %}
              var win = window.open(url, '_blank');
              win.focus();
              document.getElementById("sendOnWAInit").classList.remove('btn-info');
              document.getElementById("sendOnWAInit").classList.add('btn-secondary');
              {#  Update in session to disable send button#}
              sessionStorage.setItem("wa_{{ customer.id }}", 'sent');
              show_toast('Shared on Whatsapp', 'Bill has been shared on Whatsapp to {{ customer.name }}', 'success')
            } else {
              // Error code here
              show_toast('Warning', 'Something went wrong, we could not send bill on Whatsapp', 'danger')
            }
            {#alert("Data: " + data + "\nStatus: " + status);#}

          });
        }

        function sendEmail() {
          document.getElementById("sendOnEmailInit").innerText = 'Please Wait...';
          $.get("/send-email/{{ customer.id }}", function (data, status) {
            if (data.status === 'success') {
              document.getElementById("sendOnEmailInit").disabled = true;
              document.getElementById("sendOnEmailInit").innerText = 'Email Sent';
              document.getElementById("sendOnEmailInit").classList.remove('btn-info');
              document.getElementById("sendOnEmailInit").classList.add('btn-secondary');
              {#  Update in session to disable send button#}
              sessionStorage.setItem("email_{{ customer.id }}", 'sent');
              show_toast('Email Sent', 'Email has been successfully sent to {{ customer.name }}', 'success')
            } else {
              // Error code here
              show_toast('Warning', 'Something went wrong, we could not send bill on email', 'danger')
              document.getElementById("sendOnEmailInit").innerText = 'Send Email';
            }
            {#alert("Data: " + data + "\nStatus: " + status);#}

          });
        }

        function acceptPaymentFn(acceptPayment) {
          //Showing please wait spinner while accepting payment
          acceptPayment.disabled = true;
          acceptPayment.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Please Wait…';
          acceptPayment.form.submit();
        }

        {#  Edit Modal #}
        $('#editProfileModal').on('show.bs.modal', function (event) {
          let button = $(event.relatedTarget); // Button that triggered the modal
          let recipient_name = button.data('name'); // Extract info from data-* attributes
          let recipient_quantity_m = button.data('m-quantity') // Extract info from data-* attributes
          let recipient_quantity_e = button.data('e-quantity') // Extract info from data-* attributes
          let recipient_email = button.data('email') // Extract info from data-* attributesc
          let recipient_contact = button.data('contact') // Extract info from data-* attributesc
          let recipient_id = button.data('id') // Extract info from data-* attributesc
          let recipient_morning = button.data('morning') // Extract info from data-* attributesc
          let recipient_evening = button.data('evening') // Extract info from data-* attributesc
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          let modal = $(this)

          modal.find('#recipient_name').val(recipient_name)
          $('#recipient_name').prop('disabled', true);
          modal.find('#recipient_id').val(recipient_id)
          modal.find('#recipient_contact').val(sessionStorage.getItem("pref_contact{{ customer.id }}") || recipient_contact)
          modal.find('#recipient_email').val(sessionStorage.getItem("pref_email{{ customer.id }}") || recipient_email)
          modal.find('#recipient-quantity-m').val(sessionStorage.getItem("pref_quantity_m{{ customer.id }}") || recipient_quantity_m)
          modal.find('#recipient-quantity-e').val(sessionStorage.getItem("pref_quantity_e{{ customer.id }}") || recipient_quantity_e)


          if (sessionStorage.getItem("pref_contact{{ customer.id }}")) {
            if (sessionStorage.getItem("pref_schedule_morning{{ customer.id }}") === 'true') {
              $('#recipient_morning').prop('checked', true);
              $('#recipient-quantity-m').show();
              $('#recipient-quantity-m-label').show();
            } else {
              $('#recipient_morning').prop('checked', false);
              $('#recipient-quantity-m').hide();
              $('#recipient-quantity-m-label').hide();
            }
          } else {
            if (recipient_morning === 'True') {
              $('#recipient_morning').prop('checked', true);
              $('#recipient-quantity-m').show();
              $('#recipient-quantity-m-label').show();
            } else {
              $('#recipient_morning').prop('checked', false);
              $('#recipient-quantity-m').hide();
              $('#recipient-quantity-m-label').hide();
            }
          }

          if (sessionStorage.getItem("pref_contact{{ customer.id }}")) {
            if (sessionStorage.getItem("pref_schedule_evening{{ customer.id }}") === 'true') {
              $('#recipient_evening').prop('checked', true);
              $('#recipient-quantity-e').show();
              $('#recipient-quantity-e-label').show();
            } else {
              $('#recipient_evening').prop('checked', false);
              $('#recipient-quantity-e').hide();
              $('#recipient-quantity-e-label').hide();
            }
          } else {
            if (recipient_evening === 'True') {
              $('#recipient_evening').prop('checked', true);
              $('#recipient-quantity-e').show();
              $('#recipient-quantity-e-label').show();
            } else {
              $('#recipient_evening').prop('checked', false);
              $('#recipient-quantity-e').hide();
              $('#recipient-quantity-e-label').hide();
            }
          }
        })


        {#    Ajax for Edit Customer  #}
        document.getElementById("updateCustomerForm").addEventListener("submit", function (event) {
          event.preventDefault();
          $.post($(this).attr('action'), $(this).serialize(), function (data) {
            if (data.status === 'success') {
              {# Store new values to session #}
              sessionStorage.setItem("pref_contact{{ customer.id }}", data.contact);
              sessionStorage.setItem("pref_email{{ customer.id }}", data.email);
              sessionStorage.setItem("pref_schedule_morning{{ customer.id }}", data.schedule_morning);
              sessionStorage.setItem("pref_schedule_evening{{ customer.id }}", data.schedule_evening);
              sessionStorage.setItem("pref_quantity_m{{ customer.id }}", data.m_quantity);
              sessionStorage.setItem("pref_quantity_e{{ customer.id }}", data.e_quantity);

              {#update UI #}
              let custSchedule = ''
              if ((data.schedule_morning) && (data.schedule_evening)) {
                custSchedule = 'Morning and Evening'
              } else if ((data.schedule_morning) && !(data.schedule_evening)) {
                custSchedule = 'Morning'
              } else if (!(data.schedule_morning) && (data.schedule_evening)) {
                custSchedule = 'Evening'
              } else {
                custSchedule = 'Account Inactive'
              }
              $('#custQuantity').text(data.quantity);
              $('#custSchedule').text(custSchedule);

              {#  Show toast #}
              $(".modal-backdrop").remove();
              $('#editProfileModal').modal('hide');
              show_toast('Customer Updated', 'Customer preferences has been successfully saved for {{ customer.name }}', 'success')
            } else {
              // Error code here
              show_toast('Error', 'Something went wrong, we could not save customer preferences', 'danger')
            }
          }, 'json')
        });

        {# Show / Hide quantity textbox based on the checkbox #}
        $(function () {
          $("#recipient_morning").click(function () {
            if ($(this).is(":checked")) {
              $("#recipient-quantity-m-label").show();
              $("#recipient-quantity-m").show().prop('required', true);
            } else {
              $("#recipient-quantity-m-label").hide();
              $("#recipient-quantity-m").hide().prop('required', false);
            }
          });
          $("#recipient_evening").click(function () {
            if ($(this).is(":checked")) {
              $("#recipient-quantity-e-label").show();
              $("#recipient-quantity-e").show().prop('required', true);
            } else {
              $("#recipient-quantity-e-label").hide();
              $("#recipient-quantity-e").hide().prop('required', false);
            }
          });
        });

      </script>
    {% endif %}
{% endblock %}
<!-- Footer -->
{% include "register/footer.html" %}
