{% include "register/header.html" %}

{# PROD Bundle #}
{% load static %}
<script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>

{# Dev Bundle #}
{#<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>#}
{#<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>#}

<script
 src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

<style>
    .cal-yes {
        border: 1px solid green;
        background-color: #80ced6;
    }

    .cal-no {
        border: 1px solid red;
        background-color: #f18973;
    }

    .cel-tab {
        padding: 0.4rem !important;
        vertical-align: inherit !important;
    }

    .vertical-center {
        vertical-align: middle !important;
    }

    td a {
        display: block;
        width: 100%;
    }

    td.sticky {
        position: sticky;
        left: 0;
        background-color: whitesmoke;
    }

    .modal-xl {
        max-width: 80% !important;
    }

    /* The container-register */
    .container-register {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container-register input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container-register:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container-register input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container-register input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container-register .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .pilot-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 480px) {
        .autopilot-modal-size-mobile {
            max-width: 120% !important;
        }

        .autopilot-modal-content-mobile {
            font-size: 12px !important;
        }
    }

    .quantity-input {
        font-size: 30px;
    }

    {# Attendance box CSS #}
    .wrapper {
        display: inline-flex;
        background: #fff;
        height: 100px;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        padding: 15px 15px;
    {#box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);#}
    }

    .wrapper .option {
        background: #fff;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 10px;
        border-radius: 10px;
        cursor: pointer;
        padding: 0 10px;
        border: 2px solid lightgrey;
        transition: all 0.3s ease;
    }

    input[type="radio"] {
        display: none;
    }

    #option-1:checked:checked ~ .option-1 {
        background: green;
    }

    #option-2:checked:checked ~ .option-2 {
        background: red;
    }

    .wrapper .option span {
        font-size: 20px;
        color: #808080;
    }

    #option-1:checked:checked ~ .option-1 span,
    #option-2:checked:checked ~ .option-2 span {
        color: #fff;
    }

    .register-button {
        border-color: #FFE6B9;
        border-width: medium;
    }

    .auto-visible {
        display: block;
    }

    .auto-hidden {
        display: none;
    }

</style>

{% block content %}

  <div id="report"></div>

  {# React Report Starts #}

  <script type="text/babel">

    function formatDate(log_date) {
      return new Date(log_date).toLocaleDateString('en-US', {
        day: '2-digit',
        month: 'short',
        year: 'numeric'
      });
    }

    class Register extends React.Component {
      filteredArray;

      constructor(props) {
        super(props);
        this.handler = this.handler.bind(this)
        this.startAJAX = this.startAJAX.bind(this)
        this.state = {
          is_loading: true,
          is_error: false,
          show_tooltip: {{ show_tooltip }},
          data: null,

          showModalAddRegister: false,
          showModalAutopilot: false,
          ajax_loading: false
        };
      }

      handler() {
        this.setState({
          someVar: 'some value'
        })
      }


      openModalAddNew = (e) => {
        this.setState({
          showModalAddRegister: true
        });
      };
      openModalAutopilot = (e) => {
        this.setState({
          showModalAutopilot: true
        });
      };


      async startAJAX(event) {
        event.preventDefault();
        this.setState({ajax_loading: true});

        const formData = new FormData(event.target);
        const requestOptions = {
          method: 'POST',
          body: formData,
        };
        await fetch(event.target.action, requestOptions)
          .then(response => response.json())
          .then(data => {
            if (data.reload) {
              location.reload();
            }
            if (data.showmessage && !data.status) {
              show_toast('Error', data.message, 'danger')

            }
          })
          .catch(error => {
            if (error) {
              show_toast('Error', error.message, 'danger')
            } else {
              show_toast('Error', 'Something went wrong, we could not revert transaction', 'danger')
            }
          })
        $('#autopilot').modal('hide');
        $(".modal-backdrop").remove();
        this.setState({
          showModalAutopilot: false,
          ajax_loading: false
        })
      };


      async componentDidMount() {
        try {
          let hostname = window.location.hostname === '127.0.0.1' ? window.location.hostname + ':8000' : window.location.hostname;
          const url = "{{protocol}}://" + hostname + "/milkbasket/api/v1/register/{{ register_date_year }}/{{ register_date_month }}/";
          const response = await fetch(url);
          const data = await response.json();
          this.setState({
            data: data,
            is_loading: false,
          })
        } catch (e) {
          this.setState({
            is_error: 'Something went wrong, please try again later. ' + e,
            is_loading: false
          })
        }
      }


      render() {
        const fullWidth = {
          width: 100 + '%',
        }
        const halfWidth40 = {
          width: 40 + '%',
        }

        const loadingComp = <div className="text-center m-xl-5 p-xl-5">
          <div className="spinner-grow text-primary" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-secondary" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-success" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-danger" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-warning" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-info" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-dark" role="status">
            <span className="sr-only">Loading...</span>
          </div>
        </div>

        return (
          <div>
            <div className="row bd-highlight mb-3">
              <div className="col-12 col-md-6 mr-auto p-2 bd-highlight">

                {!this.state.is_loading &&
                  <button type="button" className="btn mt-2 ml-2 btn-primary" data-toggle="modal"
                          data-target="#autopilotModal"
                          onClick={() => this.openModalAutopilot()}><i
                    className="fa fa-plane"></i> |
                    Auto-Pilot Mode
                  </button>}

                {this.state.data && this.state.data.active_customers_not_in_register.length ?
                  <button type="button" className="btn mt-2 ml-2 btn-primary" data-toggle="modal"
                          data-target="#exampleModal1"
                          onClick={() => this.openModalAddNew()}>< i
                    className="far fa-address-book"></i> | Add New Entry
                  </button> : null}

                {!this.state.is_loading &&
                  <select className="inline mt-2 ml-2 bd-highlight" id="effect-selector"
                          onChange={() => leaveChange()}>
                    <option defaultValue="none">No Effect</option>
                    <option defaultValue="quantity">Show Quantity</option>
                    <option defaultValue="difference">Show Difference</option>
                  </select>}

              </div>
              <div className="justify-content-end inline p-2 bd-highlight">
                <form name="view_select_record" action="{% url 'view_select_record' %}"
                      method="post">
                  <input type="hidden" name="csrfmiddlewaretoken" defaultValue="{{ csrf_token }}"/>
                  <label htmlFor="myDate" className="col-form-label">Select Register:</label>
                  <input type="hidden" name="nav-type" defaultValue="register" id="nav"/>
                  <input className="inline" type="month" name="register_month" id="my-date"
                         defaultValue="{% now 'Y-m' %}"/>
                  <button type="submit" className="btn btn-primary">GO</button>
                </form>
              </div>
            </div>
            <h5 className="p-0 m-0 text-center">Register - {{ month_year }}</h5>
            <hr className="mt-1"/>
            <div className='p-0'>
              <div>
                {this.state.is_loading ? loadingComp
                  : (
                    <div>

                      {this.state.is_error ?
                        <div className="alert alert-danger text-center" role="alert">
                          {this.state.is_error}
                        </div> : ''}

                      {this.state.data.e_register.length === 0 && this.state.data.m_register.length === 0 ?
                        <div className="alert alert-primary text-center" role="alert">
                          No Register Entry to Display
                        </div> : null}

                      {this.state.data.m_register.length > 0 &&
                        <RegisterSheet page={this.state.data.m_register}
                                       dates={this.state.data.dates}
                                       defaultPrice={this.state.data.default_price}
                                       title="Morning"/>}
                      {this.state.data.e_register.length > 0 &&
                        <RegisterSheet page={this.state.data.e_register}
                                       dates={this.state.data.dates}
                                       defaultPrice={this.state.data.default_price}
                                       title="Evening"/>}


                      {this.state.showModalAddRegister &&
                        <div className="modal fade" id="exampleModal1" tabIndex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div className="modal-dialog" role="document">
                            <div className="modal-content">
                              <div className="modal-header">
                                <h5 className="modal-title" id="exampleModalLabel">Add new Register
                                  Entry</h5>
                                <button type="button" className="close" data-dismiss="modal"
                                        aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <form name="add-new-entry" action="{% url 'view_add_entry' %}"
                                    onSubmit={this.startAJAX} method="post">
                                <div className="modal-body">
                                  <input type="hidden" name="csrfmiddlewaretoken"
                                         defaultValue="{{ csrf_token }}"/>
                                  <input type="hidden" defaultValue="True" className="form-control"
                                         name="add-new-entry"
                                         id="add-new"/>
                                  <div className="form-group">
                                    <label htmlFor="exampleFormControlSelect1">Customer</label>
                                    <select className="form-control" name="customer"
                                            id="exampleFormControlSelect1">
                                      {this.state.data.active_customers_not_in_register.map((customer, index) =>
                                        <option key={index} value={customer.id}>
                                          {customer.name} | &nbsp;
                                          {customer.m_quantity &&
                                            `${customer.m_quantity} ML
                                            (Morning) `}
                                          {customer.e_quantity &&
                                            `${customer.e_quantity} ML
                                            (Evening) `}
                                        </option>
                                      )}

                                    </select>
                                  </div>
                                  <div className="form-group">
                                    <label htmlFor="recipient-price" className="col-form-label">Price
                                      /
                                      L </label>
                                    <input type="text" className="form-control" disabled
                                           name="selling_price"
                                           id="recipient-price"
                                           defaultValue={this.state.data.default_price}/>
                                  </div>

                                  <div className="form-group">
                                    <label htmlFor="myDate1"
                                           className="col-form-label">Date:</label>
                                    <input className="form-control" type="date" name="log_date"
                                           id="my-date-1"
                                           min="{% now 'Y-m-01' %}" max="{{ max_date }}"
                                           defaultValue="{% now 'Y-m-d' %}"/></div>
                                </div>
                                {this.state.ajax_loading &&
                                  <div className="progress">
                                    <div
                                      className="progress-bar progress-bar-striped progress-bar-animated"
                                      role="progressbar"
                                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                      style={fullWidth}></div>
                                  </div>}
                                <div className="modal-footer">
                                  <button type="button" className="btn btn-secondary"
                                          data-dismiss="modal">Close
                                  </button>

                                  <button type="submit" className="btn btn-primary" autoFocus>
                                    {this.state.ajax_loading ? <span><i
                                      className="fa fa-spinner fa-spin"></i> Please Wait… </span> : 'Add Entry'}
                                  </button>

                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      }

                      {this.state.showModalAutopilot &&
                        <div className="modal fade" id="autopilotModal" tabIndex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div className="modal-dialog modal-xl autopilot-modal-size-mobile"
                               role="document">
                            <div className="modal-content">
                              <div className="modal-header">
                                <h4 className="modal-title">Autopilot Mode</h4>
                                <button type="button" className="close"
                                        data-dismiss="modal">&times;</button>
                              </div>

                              {!this.state.ajax_loading ?
                                <form id="auto-pilot-form" action="{% url 'view_autopilot' %}"
                                      onSubmit={this.startAJAX} method="post">
                                  <div className="modal-body">
                                    <input type="hidden" name="csrfmiddlewaretoken"
                                           value="{{ csrf_token }}"/>
                                    <input type="hidden" className="form-control" name="log_month"
                                           id="log_month"
                                           value="{{ month_year }}"/>
                                    <div className="row justify-content-center">
                                      <div className="col-sm-3">
                                        <div className="form-group">
                                          <select name="start"
                                                  defaultValue={formatDate(this.state.data.last_entry_day)}
                                                  className="form-control custom-select-lg">
                                            {this.state.data.dates.map((day, index) =>
                                              <option key={index}
                                                      value={formatDate(day)}
                                              >{formatDate(day)}</option>
                                            )}
                                          </select>
                                        </div>
                                      </div>
                                      <h3> to </h3>
                                      <div className="col-sm-3">
                                        <div className="form-group">
                                          <select name="end"
                                                  defaultValue={formatDate(this.state.data.today_day)}
                                                  className="form-control custom-select-lg">
                                            {this.state.data.dates.map((day, index) =>
                                              <option key={index}
                                                      value={formatDate(day)}
                                              >{formatDate(day)}</option>
                                            )}
                                          </select>
                                        </div>
                                      </div>

                                    </div>
                                    <div className="row">

                                      {this.state.data.m_register.length ? (
                                        <div className="col-6">
                                          <h5 className="mb-4">Morning Register</h5>
                                          {this.state.data.m_register.map((entry, index) => {
                                            return entry.status && (
                                              <label key={index}
                                                     className="container-register autopilot-modal-content-mobile">{entry.name} | {entry.m_quantity} ML
                                                <input name={`${entry.id}-morning`}
                                                       type="checkbox" defaultChecked="checked"/>
                                                <span className="checkmark"></span>
                                              </label>
                                            );
                                          })}
                                        </div>
                                      ) : (
                                        <div className="col-6">
                                          <h5 className="mb-4 text-success">Add Customer to
                                            Morning Register</h5>
                                          {this.state.data.autopilot_morning_register.map((entry, index) => {
                                            return (
                                              <label key={index}
                                                     className="container-register autopilot-modal-content-mobile text-success">
                                                {entry.name} | {entry.m_quantity} ML
                                                <input name={`${entry.id}-morning`}
                                                       type="checkbox" defaultChecked="checked"/>
                                                <span className="checkmark"></span>
                                              </label>
                                            );
                                          })}
                                        </div>
                                      )}

                                      {this.state.data.e_register.length ? (
                                        <div className="col-6">
                                          <h5 className="mb-4">Evening Register</h5>
                                          {this.state.data.e_register.map((entry, index) => {
                                            return entry.status && (
                                              <label key={index}
                                                     className="container-register autopilot-modal-content-mobile">{entry.name} | {entry.e_quantity} ML
                                                <input name={`${entry.id}-evening`}
                                                       type="checkbox" defaultChecked="checked"/>
                                                <span className="checkmark"></span>
                                              </label>
                                            );
                                          })}
                                        </div>
                                      ) : (
                                        <div className="col-6">
                                          <h5 className="mb-4 text-success">Add Customer to
                                            Evening Register</h5>
                                          {this.state.data.autopilot_evening_register.map((entry, index) => {
                                            return (
                                              <label key={index}
                                                     className="container-register autopilot-modal-content-mobile text-success">
                                                {entry.name} | {entry.e_quantity} ML
                                                <input name={`${entry.id}-evening`}
                                                       type="checkbox" defaultChecked="checked"/>
                                                <span className="checkmark"></span>
                                              </label>
                                            );
                                          })}
                                        </div>
                                      )}
                                    </div>
                                    {this.state.data.active_customers.length ?
                                      <button type="submit"
                                              className="btn btn-primary btn-lg btn-block"
                                              autoFocus>Add Bulk Entry
                                      </button>
                                      :
                                      <h4 className="text-danger text-center"> Please <a
                                        href="{% url 'view_customers' %}">add
                                        Customers</a> before you can add to register</h4>
                                    }

                                  </div>
                                </form>

                                : null}
                              <img
                                className={`pilot-img ${this.state.ajax_loading ? 'auto-visible' : 'auto-hidden'}`}
                                style={halfWidth40} id="auto-img"
                                src="{% static "/autopilot-progress.gif" %}"
                                alt="AutoPilot in Progress"/>
                              <br/>
                              {this.state.ajax_loading &&
                                <div className="progress">
                                  <div
                                    className="progress-bar progress-bar-striped progress-bar-animated"
                                    role="progressbar"
                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                    style={fullWidth}></div>
                                </div>}
                              <div className="modal-footer">
                                <button type="button" className="btn btn-secondary btn-block"
                                        data-dismiss="modal">Close
                                </button>
                              </div>

                            </div>
                          </div>
                        </div>}


                      <p className="text-center mb-5 text-secondary"> --- END OF PAGE ---</p>
                    </div>
                  )}
              </div>
            </div>

          </div>
        );
      }
    }

    class RegisterSheet extends React.Component {
      constructor(props) {
        super(props);
        this.handler = this.handler.bind(this)
        this.openModal = this.openModal.bind(this);
        this.markAttendance = this.markAttendance.bind(this);
        this.handleInputChange = this.handleInputChange.bind(this);
        this.onRequestClose = this.onRequestClose.bind(this);

        this.state = {
          registerPage: this.props.page,
          dates: this.props.dates,
          default_price: this.props.defaultPrice,
          show_tooltip: {{ show_tooltip }},

          att_customer_id: '',
          att_log_date: '',
          att_schedule: '',
          att_attendance: '',
          att_quantity: '',
          att_name: '',
          att_customer_status: true,

          ajax_loading: false,
          show_modal: false,

        };
      }

      handler() {
        this.setState({
          someVar: 'some value'
        })
      }

      openModal(obj) {
        let {customer, entry, schedule} = obj;
        let defaultQuantity = schedule === 'Morning' ? customer.m_quantity : schedule === 'Evening' ? customer.e_quantity : null;
        let options = {day: 'numeric', month: 'long', year: 'numeric'};
        let formattedDate = new Date(obj.date).toLocaleDateString('en-US', options);
        let dateArr = formattedDate.split(' ');
        let day = dateArr[1].substring(0, 3);
        this.setState({
          att_customer_id: customer.id,
          att_name: customer.name,
          att_quantity: entry.length > 0 ? entry[0].quantity : defaultQuantity,
          att_schedule: schedule,
          att_attendance: entry.length > 0 ? entry[0].schedule.endsWith('yes') : true,
          att_log_date: `${day.replace(/,/g, "")} ${dateArr[0]},  ${dateArr[2]}`,
          att_customer_status: customer.status,
          show_modal: true,
        });
      }

      handleInputChange(event) {
        const target = event.target;
        if (target.type === 'radio')
          this.setState({att_attendance: target.value > 0})
        else if (target.type === 'number')
          this.setState({att_quantity: target.value})
      }

      onRequestClose() {
        this.setState({
          show_modal: false
        });
      }

      async markAttendance(event) {
        event.preventDefault();
        this.setState({ajax_loading: true})
        const formData = new FormData(event.target);
        const requestOptions = {
          method: 'POST',
          body: formData,
        };
        await fetch('{% url 'view_add_entry' %}', requestOptions)
          .then(response => response.json())
          .then(data => {
            if (data.return) {
              const current_state = this.state.registerPage

              // Update state
              const updatedRegister = current_state.map((customer) => {
                if (customer.id === data.customer_id) {
                  const existingEntry = customer.register_entry.find((entry) => entry.id === data.entry.id);

                  if (existingEntry) {
                    return {
                      ...customer,
                      register_entry: customer.register_entry.map((entry) => {
                        if (entry.id === data.entry.id) {
                          return {...entry, ...data.entry};
                        }
                        return entry;
                      }),
                    };
                  }

                  return {
                    ...customer,
                    register_entry: [...customer.register_entry, data.entry],
                  };
                }

                return customer;
              });

              this.setState({registerPage: updatedRegister});

              show_toast('Entry Saved', `${data.quantity} saved for ${data.customer_name} on ${data.logDate}`, 'success');
            } else {
              show_toast('Error', `${data.message}`, 'danger');
            }
          })
          .catch(error => {
            if (error) {
              show_toast('Error', error.message, 'danger')
            } else {
              show_toast('Error', 'Something went wrong, we could not add register entry', 'danger')
            }
          })
        $('#singleEntryModal').modal('hide');
        leaveChange()
        this.setState({
          show_modal: false,
          ajax_loading: false
        })
      }

      render() {
        const stickyHeader = {
          position: 'sticky',
          left: 0,
          zIndex: '2',
          background: 'white',
        }
        const fullWidth = {
          width: 100 + '%',
        }

        return (
          <div>
            <div>
              <h3 className="text-center mt-2">{this.props.title} Register</h3>
              <div className="overflow-auto">
                <table className='table table-hover'>
                  <tbody>
                  {this.state.registerPage.map((customer) => (
                    <tr key={customer.id}>
                      <td
                        className='sticky text-nowrap px-1 font-weight-bold vertical-center'
                        style={stickyHeader}>
                        <a href={`profile/${customer.id}`}>{customer.name}</a>
                      </td>
                      {this.props.dates.map((date, i) => {
                        let filteredArray = customer.register_entry.filter((obj) => obj.log_date.substring(0, 10) === date);
                        let current_obj = {
                          entry: filteredArray,
                          date,
                          customer,
                          schedule: this.props.title,
                        };
                        let filteredArrayLength = filteredArray.length;
                        let filteredArraySchedule = filteredArrayLength ? filteredArray[0].schedule : '';
                        let isCalYes = filteredArrayLength && filteredArraySchedule.endsWith('yes');

                        return (
                          <td key={`${customer.id}_${this.props.title}_cel_${i + 1}`}
                              className={`text-center cel-tab ${filteredArray.length ? isCalYes ? 'cal-yes' : 'cal-no' : ''}`}
                              data-toggle={this.state.show_tooltip && filteredArrayLength && 'tooltip'}
                              data-placement="top"
                              data-original-title={`${customer.name} - ${isCalYes ? filteredArray[0].quantity : 'Absent'}`}>
                            <button type="button"
                                    className={`btn register-button q-${isCalYes ? filteredArray[0].quantity : ''}`}
                                    data-toggle="modal"
                                    data-target="#singleEntryModal"
                                    onClick={() => this.openModal(current_obj)}>
                              {i + 1}
                              <span
                                className="milk-quantity text-secondary small d-none">
                                            {filteredArrayLength ? isCalYes ? filteredArray[0].quantity : 'Absent' : ''}
                                          </span>
                            </button>
                          </td>
                        );
                      })}
                    </tr>
                  ))}
                  </tbody>
                </table>
              </div>
            </div>


            {this.state.show_modal &&
              <div key={this.state.att_customer_id + '_' + this.state.att_schedule}
                   onClick={this.onRequestClose} className="modal fade" id="singleEntryModal"
                   tabIndex="-1" role="dialog"
                   aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div className="modal-dialog" onClick={(e) => e.stopPropagation()} role="document">
                  <div className="modal-content">
                    <div className="modal-header">
                      <h4 className="modal-title"
                          id="exampleModalLabel">{this.state.att_log_date} - {this.state.att_schedule}</h4>
                      <button type="button" className="close" data-dismiss="modal"
                              aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form onSubmit={this.markAttendance} name="add-new-entry">
                      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                      <div className="modal-body">
                        <input type="hidden" className="form-control"
                               value={this.state.att_customer_id} name="id" id="recipient-id"/>
                        <input type="hidden" className="form-control"
                               value={this.state.att_log_date || ''}
                               name="log_date" id="date_log"/>
                        <input type="hidden" className="form-control"
                               value={this.state.att_schedule || ''}
                               name="schedule"
                               id="recipient_schedule"/>
                        <h3 className="text-info">{this.state.att_name}</h3>
                        <span
                          className="text-secondary">Price {this.state.default_price} / Liter</span>
                        <div className="form-group">
                          <label htmlFor="recipient-quantity"
                                 className="col-form-label">Quantity: {!this.state.att_customer_status &&
                            <span
                              className="text-danger text-bold">(Customer Account Inactive)</span>}</label>
                          <input type="number"
                                 className="form-control quantity-input font-weight-bold"
                                 step='0'
                                 value={this.state.att_quantity || ''}
                                 onChange={this.handleInputChange}
                                 name="quantity" id="recipient-quantity" required/>
                        </div>
                        <div className="form-group">
                          <label htmlFor="yn">Attendance:</label>
                          <div className="wrapper">
                            <input type="radio" name="attendance" id="option-1" value="1"
                                   checked={this.state.att_attendance}
                                   onChange={this.handleInputChange}
                            />
                            <input type="radio" name="attendance" id="option-2" value="0"
                                   checked={!this.state.att_attendance}
                                   onChange={this.handleInputChange}/>
                            <label htmlFor="option-1" className="option option-1">
                              <span>✅ Present</span>
                            </label>
                            <label htmlFor="option-2" className="option option-2">
                              <span>❌ Absent</span>
                            </label>
                          </div>
                        </div>
                        {this.state.ajax_loading ?
                          <div className="progress">
                            <div
                              className="progress-bar progress-bar-striped progress-bar-animated"
                              role="progressbar" style={fullWidth} aria-valuenow="100"></div>
                          </div>
                          : ''}
                      </div>
                      <div className="modal-footer">
                        <button type="button" className="btn btn-secondary"
                                onClick={this.onRequestClose} data-dismiss="modal">Close
                        </button>
                        <button type="submit" className="btn btn-primary"
                                disabled={this.state.ajax_loading} autoFocus>
                          {this.state.ajax_loading ? <span><i
                            className="fa fa-spinner fa-spin"></i> Please Wait… </span> : 'Add Entry'}
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>}
          </div>
        );
      }
    }

    ReactDOM.render(
      <Register/>
      , document.getElementById("report"));

  </script>


  {#  React Component ends here #}

  <script>
    function leaveChange() {
      const colorCode = {
        'q-Absent': '',
        'q-250': '#F9F871',
        'q-500': '#FFC75F',
        'q-750': '#93b0f6',
        'q-1000': '#ff93ab',
        'q-1250': '#d57bb5',
        'q-1500': '#C9B5EF',
        'q-1750': '#AFA060',
        'q-2000': '#00FFFF',
        'q-2250': '#FF69B4',
        'q-2500': '#ABF5A6',
        'q-2750': '#5CF962',
        'q-3000': '#D8BFD8',
        'q-3250': '#E0FFFF',
        'q-3500': '#FFA07A',
        'q-3750': '#FFE4E1',
        'q-4000': '#B0C4DE',
        'q-4250': '#DDA0DD',
        'q-4500': '#FFF9B1',
        'q-4750': '#A1D7FF',
        'q-5000': '#4DD900',
      };

      const effectSelector = document.getElementById("effect-selector");
      const selectedValue = effectSelector.value;
      const divsToHide = document.querySelectorAll(".milk-quantity");
      const length = divsToHide.length;

      if (selectedValue === "No Effect") {
        for (let i = 0; i < length; i++) {
          divsToHide[i].style.display = "none";
        }
      } else if (selectedValue === "Show Quantity") {
        for (let i = 0; i < length; i++) {
          const divToHide = divsToHide[i];
          divToHide.style.display = "block";
          divToHide.classList.remove('d-none');
          divToHide.parentElement.style.padding = "0 !important";
        }
        Object.keys(colorCode).forEach(key => {
          const elements = document.querySelectorAll(`.${key}`);
          const elementsLength = elements.length;
          for (let i = 0; i < elementsLength; i++) {
            const element = elements[i];
            element.classList.remove('d-none');
            element.style.backgroundColor = 'white';
          }
        });
      } else if (selectedValue === "Show Difference") {
        for (let i = 0; i < length; i++) {
          const divToHide = divsToHide[i];
          divToHide.style.display = "block";
          divToHide.classList.remove('d-none');
        }
        Object.keys(colorCode).forEach(key => {
          const elements = document.querySelectorAll(`.${key}`);
          const elementsLength = elements.length;
          for (let i = 0; i < elementsLength; i++) {
            const element = elements[i];
            element.classList.remove('d-none');
            element.style.backgroundColor = colorCode[key];
          }
        });
      }
    }

    $('.modal').on('shown.bs.modal', function () {
      $(this).find('[autofocus]').focus();
    });

  </script>

{% endblock %}
{% include "register/footer.html" %}
