{% include "register/header.html" %}

{# PROD Bundle #}
{#<script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>#}
{#<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>#}
{##}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>#}

{# Dev Bundle #}
<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>

<script
 src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

<style>


  {#   Edit Profile modal #}
  .quantity-input {
      font-size: 30px;
  }

  .inbox {
      max-width: 400px;
  }

  .item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #F1F1F1;
  }

  .item:last-child {
      border-bottom: 0;
  }

  input:checked + label {
      background: #c3e7b4;
      text-decoration: none;
  }

  .edit-form input[type="checkbox"] {
      margin: 10px;
      width: 40px; /*Desired width*/
      height: 40px; /*Desired height*/
      cursor: pointer;
  }

  .schedule-label {
      margin: 0;
      padding: 10px;
      transition: background 0.5s;
      text-decoration: line-through;
      flex: 1;
      font-family: 'helvetica neue';
      font-size: 25px;
      font-weight: 200;
      border-radius: 5px;
  {#border-left: 1px solid green;#}
  }

  table {
      border-collapse: collapse;
  }

  table, td, th {
      border: 1px solid black;
  }

  * {
      box-sizing: border-box;
  }

  ul {
      list-style-type: none;
  }

  body {
      font-family: Verdana, sans-serif;
  }

  .month {
      padding: 70px 25px;
      width: 100%;
      background: #1abc9c;
      text-align: center;
  }

  .month ul {
      margin: 0;
      padding: 0;
  }

  .month ul li {
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 3px;
  }

  .weekdays {
      margin: 0;
      padding: 10px 0;
      background-color: #ddd;
  }

  .weekdays li {
      display: inline-block;
      width: 14.27%;
      color: #666;
      text-align: center;
  }

  .weekdays-title li {
      background-color: lightgray;
      display: inline-block;
      width: 13.6%;
      color: #666;
      text-align: center;
  }

  .days {
      padding: 10px 0;
      background: #eee;
      margin: 0;
  }

  .days div {
      list-style-type: none;
      display: inline-block;
      width: 14.27%;
      text-align: center;
      margin-bottom: 5px;
      font-size: 12px;
      color: #777;
  }

  .days div .active {
      padding: 5px;
      background: #1abc9c;
      color: white !important
  }

  /* Add media queries for smaller screens */
  @media screen and (max-width: 600px) {
      .weekdays li, .days li {
          width: 13.1%;
      }

      .weekdays-title li {
          width: 13%
      }

      .days div {
          font-size: 0.6rem;
      }

      h2 {
          font-size: 1.5rem !important;
      }
  }

  @media screen and (max-width: 420px) {
      .weekdays li, .days li {
          width: 12.7%;
      }

      .weekdays-title li {
          width: 12.7%
      }

      h2 {
          font-size: 1.5rem !important;
      }
  }

  @media screen and (max-width: 290px) {
      .weekdays li, .days li {
          width: 12.2%;
      }

      .weekdays-title li {
          width: 12.6%
      }

      .days div {
          font-size: 0.4rem;
      }

      h2 {
          font-size: 1.5rem !important;
      }
  }

  .dash {
      border: 1px dashed #425858;
      border-collapse: collapse;
      padding-bottom: 25px !important;
      padding-top: 25px !important;
  }

  @media (min-width: 768px) {
      .seven-cols .col-md-1 {
          width: 100%;
          *width: 100%;
      }

      .weekdays-title li {
          width: 13.6%
      }
  }

  @media (min-width: 992px) {
      .seven-cols .col-sm-1 {
          width: 14.285714285714285714285714285714%;
          *width: 14.285714285714285714285714285714%;
      }

      .weekdays-title li {
          width: 13.78%
      }
  }

  /**
   *  The following is not really needed in this case
   *  Only to demonstrate the usage of @media for large screens
   */
  @media (min-width: 1200px) {
      .seven-cols .col-sm-1 {
          width: 14.285714285714285714285714285714%;
          *width: 14.285714285714285714285714285714%;
      }

      .weekdays-title li {
          width: 13.85%
      }
  }


  .cal-border {
      border-style: groove;
      border-width: thin;
  }

</style>

{% block content %}


  <div id="report"></div>

  {# React Report Starts #}

  <script type="text/babel">

    class CustomersInfo extends React.Component {
      render() {
        return (
          <div className="row">
            <table width="100%">
              <tbody>
              <tr>
                <td className="p-3 bg-light ">Account
                  Number: {this.props.data.customer.id}</td>
                <td className="p-3 bg-light ">Default Quantity:
                  <span
                    id="custQuantity">
                                  {this.props.data.customer.m_quantity > 0 ? this.props.data.customer.m_quantity + ' ML (Morning)' : null}
                    {this.props.data.customer.morning && this.props.data.customer.evening ? ' , ' : null}
                    {this.props.data.customer.e_quantity > 0 ? this.props.data.customer.e_quantity + ' ML (Evening)' : null}
                                  </span>
                </td>
              </tr>
              <tr>
                <td className="p-3 bg-light ">Customer
                  Since: {new Date(this.props.data.customer.member_since).toLocaleDateString('en-US', {
                    day: 'numeric',
                    month: 'short',
                    year: 'numeric'
                  })}</td>
                {this.props.data.customer.morning || this.props.data.customer.evening ?

                  <td className="p-3 bg-light ">Default Schedule: <span
                    id="custSchedule">
                                  {this.props.data.customer.morning ? 'Morning' : null}
                    {this.props.data.customer.morning && this.props.data.customer.evening ? ' and ' : null}
                    {this.props.data.customer.evening ? 'Evening' : null}
                                </span></td>
                  :
                  <td
                    className="p-3 text-danger bg-light font-weight-bold">Customer
                    Account Inactive
                  </td>}
              </tr>
              </tbody>
            </table>
          </div>
        );
      }
    }

    class PaymentTable extends React.Component {
      render() {
        return (
          this.props.data.due_summary.final_due_amount === 0 ? null :
            <div className="col-12 p-0">
              <h5 className="pt-2 mt-2 text-center">Payment Due</h5>
              <table className="table table-sm table-striped">
                <thead>
                <tr className="d-flex bg-info text-white">
                  <th className="p-2 col-4" scope="col">Total Due</th>
                  <th className="p-2 col-4" scope="col">Due
                    (till {this.props.data.previous_month_name})
                  </th>
                  <th className="p-2 col-4" scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr className="d-flex">
                  {% if payment_due_amount_till_date < 0 %}
                    <td
                      className="p-2 col-4">{{ payment_due_amount_till_date }}
                      <span
                        className="text-success">(Advance)</span>
                      {% if total_due_amount > 0 %}
                        <button type="button" className="btn-sm btn-warning"
                                data-toggle="modal"
                                data-target="#exampleModal3"
                        >Settle Up
                        </button>{% endif %}
                      {% if total_due_amount == 0 %}
                        <button type="button" className="btn-sm btn-warning"
                                data-toggle="modal"
                                data-target="#exampleModal4"
                        >Refund Advance
                        </button>{% endif %}

                    </td>
                  {% else %}
                    <td
                      className="p-2 col-4">{this.props.data.due_summary.final_due_amount}</td>
                  {% endif %}
                  <td className="p-2 col-4">
                    {this.props.data.due_summary.final_due_prev_amount > 0 ?
                      <div>
                                          <span
                                            className="font-weight-bold">{this.props.data.due_summary.final_due_prev_amount}</span>
                        <span
                          className="text-info">{{ previous_month_name }}</span>
                      </div> : null}
                  </td>
                  <td className="col-4">
                    <button type="button" className="btn-sm btn-primary"
                            data-toggle="modal"
                            data-target="#exampleModal2"
                    >Make Payment
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
        );
      }
    }

    class BillSummary extends React.Component {
      render() {
        const billNote = {
          color: 'dimgrey', fontSize: '10px'
        }
        return (
          this.props.data.due_summary.final_due_amount > 0 ?
            <div>
              {this.props.data.tenant.download_pdf_pref &&
                <div className="text-center">
                  <a target="_blank"
                     href={this.props.data.print_bill_url}
                     className="btn btn-primary mb-1"><i
                    className="fa fa-print" aria-hidden="true"></i> Print /
                    Download</a>
                </div>}
              <div className="mt-4 mb-4 col-12  p-0">
                <h5 className="pt-2 mt-2 text-center">Bill Summary </h5>
                <table>
                  <thead>
                  <tr className=" bg-info text-white">
                    <th className="p-2 text-center" colSpan="2">Description</th>
                    <th className="p-2 text-right">Amount</th>
                  </tr>
                  </thead>
                  <tbody>
                  {this.props.data.bill_summary.map((bill, index) => (
                    index === this.props.data.bill_summary.length - 1 ? (
                      <tr key={index}>
                        <td className="p-1" colSpan="2">
          <span style={billNote}>
            Note: Efforts have been made to maintain the data accuracy. However, data reflected in this bill might not be up to date. This bill reflects data last updated on {bill.last_updated}. This bill was generated on {bill.today}. {this.props.data.milk_price}
          </span>
                        </td>
                        <td colSpan="1">
                          {bill.balance ?
                            <div>
                              <h6
                                className="pr-2 text-nowrap text-right font-weight-bold">
                                {bill.sub_total}
                              </h6>
                              <h6
                                className="pr-2 text-nowrap text-right
                                              font-weight-bold">
                                Balance: -{bill.balance}
                              </h6>
                            </div>
                            : null}
                          <h5
                            className="p-1 text-nowrap text-right font-weight-bold">
                            Total: {bill.sum_total}
                          </h5>
                        </td>
                      </tr>
                    ) : (
                      <tr key={index}>
                        <td className="m-2 dash text-center" rowSpan="1">
                          {bill.month_year}
                        </td>

                        <td className="m-2 dash text-right">
                          {bill.desc.map((bill_month, index) => (
                            index === bill.desc.length - 1 ? null : (
                              <h6 key={index} className="m-1">
                                {bill_month.quantity} ML
                                <strong>&nbsp;X&nbsp;</strong> {bill_month.desc}&nbsp;unit(s)
                                = {bill_month.total_units / 1000}L
                              </h6>
                            )))}
                        </td>
                        <td className="m-2 p-2 dash text-right">
                          {bill.desc.map((bill_month, index) => (
                            index === bill.desc.length - 1 ? (
                              <h6 key={index} className="font-weight-bold">
                                {bill_month.total}
                              </h6>
                            ) : null))}
                        </td>

                      </tr>
                    )
                  ))}
                  </tbody>
                </table>
              </div>
            </div>
            : null

        );
      }
    }

    class TransactionTable extends React.Component {
      render() {
        return (
          this.props.data.customer.transaction_entry.length > 0 ?
            <div className="mt-4 col-12  p-0">
              <h5 className="pt-2 mt-2 text-center">Transaction</h5>
              <table className="table table-sm table-striped">
                <thead>
                <tr className="d-flex bg-info text-white">
                  <th className="p-2 col-2" scope="col">#Tnx</th>
                  <th className="p-2 col-6" scope="col">Transaction Date
                  </th>
                  <th className="p-2 col-4" scope="col">Amount</th>
                </tr>
                </thead>
                <tbody>
                {this.props.data.customer.transaction_entry.map((transaction, index) => (
                  <tr key={index} className="d-flex">
                    <td className="p-2 col-2">#{transaction.id}</td>
                    <td
                      className="p-2 col-6">{new Date(transaction.log_date).toLocaleDateString('en-US', {
                      day: 'numeric',
                      month: 'short',
                      year: 'numeric',
                      hour: '2-digit',
                      minute: '2-digit',
                      hour12: true,
                      timeZone: 'IST'
                    })}
                      {#                  {% if entry.payment_mode == 'ONLINE' %}#}
                      {#                    <a target="_blank"#}
                      {#                       href="{% url 'check_txn_status' entry.transaction_id %}">{{ entry.payment_mode }}</a>{% endif %}#}
                      &nbsp;<span
                        className="text-info">{transaction.payment_mode}</span>
                    </td>
                    <td className="p-2 col-4">{transaction.amount}
                      {transaction.refund_notes ?
                        <span
                          className="text-info">{{ transaction.refund_notes }}</span>
                        : null}
                      {this.props.data.can_revert_transaction && transaction.is_revertible && (index + 1) === this.props.data.customer.transaction_entry.length ?
                        <button id="reverttransactionbuttonmain"
                                type="button"
                                className="btn btn-danger mb-1"
                                data-toggle="modal"
                                data-target="#revertTransactionModal"
                                data-trans_id="{{ entry.id }}"
                                data-trans-amount="{{ entry.amount }}"
                                data-trans-date="{{ entry.log_date }}"
                        ><i className="fas fa-undo"></i> Revert Transaction
                        </button> : null}
                    </td>

                  </tr>
                ))}
                </tbody>
              </table>
            </div> : null

        );
      }
    }

    class CalendarWiget extends React.Component {
      render() {
        return (
          this.props.data.calendar ?
            <div id="calendar-view">
              <div className="mt-4 col-12  p-0">
                {this.props.data.calendar.map((month, index) => (
                  <div key={index}>
                    <div className="month">
                      <ul>
                        <li>
                          {month.month} {month.year}
                        </li>
                      </ul>
                    </div>

                    <ul className="col-12 p-0 m-0 weekdays-title">
                      <li>Mon</li>
                      <li>Tue</li>
                      <li>Wed</li>
                      <li>Thu</li>
                      <li>Fri</li>
                      <li>Sat</li>
                      <li>Sun</li>
                    </ul>
                    <ul className="row  p-0 seven-cols days">
                      {month.week_start_day.map((day, index) => (
                        <div key={index}></div>
                      ))}
                      {month.days_in_month.map((day, index) => (
                        <div key={index} className="p-0 cal-border">
                          <h2>{day.day}</h2>
                          {day.data.length > 0 ? (day.data.map((entry, index) => (
                            <span key={index}>
                                                <span
                                                  className="d-block text-white bg-primary p-0 p-lg-2">
                                                  {entry.schedule_display}&nbsp;
                                                  {entry.attendance ? entry.quantity + " ML" :
                                                    <span
                                                      className="p-0 bg-danger text-white"> ABSENT </span>}
                                                </span>

                              {entry.attendance ? (entry.paid ? <span
                                  className="d-block bg-success text-white p-1"> PAID</span>
                                : <span
                                  className="d-block bg-warning text-white p-1">DUE</span>) : null}
                                              </span>
                          ))) : null}
                        </div>
                      ))}
                    </ul>
                  </div>
                ))}
              </div>
            </div>


            : null

        );
      }
    }

    class RegisterEntry extends React.Component {
      render() {
        return (
          this.props.data.customer.register_entry.length ?
            <div className="mt-4 col-12  p-0">
              <h5 className="pt-2 mt-2 text-center">Register Entry</h5>
              <table className="table table-sm table-striped">
                <thead>
                <tr className="d-flex bg-info text-white">
                  <th className="p-1 col-4" scope="col">Date</th>
                  {#<th className="p-1 col-2" scope="col">Time</th>#}
                  <th className="px-0 col-2" scope="col">Quota</th>
                  <th className="px-0 col-2" scope="col">Price</th>
                  <th className="px-0 col-2" scope="col">Billed</th>
                  <th className="px-0 col-2" scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {this.props.data.customer.register_entry.map((register, index) => (
                  <tr key={index} className="d-flex">
                    <td
                      className="p-0 col-4">{new Date(register.log_date).toLocaleDateString('en-US', {
                      day: 'numeric',
                      month: 'short',
                      year: 'numeric'
                    })}</td>
                    {#<td className="p-1 col-2">{{ entry.display_schedule }}</td>#}
                    <td className="p-0 col-2">{register.quantity} ML
                    </td>
                    <td className="p-0 col-2">{register.current_price}</td>
                    <td
                      className="p-0 col-2">{(register.current_price * register.quantity) / 1000}</td>
                    <td
                      className={`p-0 col-2 font-weight-bold ${register.paid ? 'text-success' : 'text-danger'}`}>{register.paid ? 'Paid' : 'Due'}</td>
                  </tr>
                ))}
                </tbody>
              </table>
            </div> : null

        );
      }
    }

    class CustomerProfile extends React.Component {

      constructor(props) {
        super(props);
        this.handler = this.handler.bind(this)

        this.state = {
          data: null,
          is_loading: true,
          is_error: false,

          ajax_loading: false,
        };
      }

      handler() {
        this.setState({
          someVar: 'some value'
        })
      }


      async componentDidMount() {
        try {
          let hostname = window.location.hostname === '127.0.0.1' ? window.location.hostname + ':8000' : window.location.hostname;
          const url = "{{protocol}}://" + hostname + "/milkbasket/api/v1/customers/{{ customer_id }}/";
          const response = await fetch(url);
          const data = await response.json();
          this.setState({
            data: data,
            is_loading: false
          })
        } catch (e) {
          this.setState({
            is_error: 'Something went wrong, please try again later. ' + e,
            is_loading: false
          })
        }
      }


      render() {

        const loadingComp = <div className="text-center m-xl-5 p-xl-5">
          <div className="spinner-grow text-primary spinner-size-big" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-secondary spinner-size-big" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-success spinner-size-big" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-danger spinner-size-big" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-warning spinner-size-big" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-info spinner-size-big" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-dark spinner-size-big" role="status">
            <span className="sr-only">Loading...</span>
          </div>
        </div>

        return (
          <div>
            <div className='p-0'>
              <div>
                {this.state.is_loading ? <div className="pt-5 mt-5">{loadingComp}</div>
                  : (
                    <div>

                      {this.state.is_error &&
                        <div className="alert alert-danger text-center" role="alert">
                          {this.state.is_error}
                        </div>}

                      {this.state.data ? (
                          <div className="col-12 mb-3">

                            <h2 className="pt-2 text-center"> {this.state.data.customer.name}
                              <button type="button" className="btn btn-primary m-2 text-right"
                                      data-toggle="modal"
                                      data-target="#editProfileModal"
                                      data-name="{{ customer.name }}"
                                      data-id="{{ customer.id }}"
                                      data-contact="{{ customer.contact }}"
                                      data-email="{{ customer.email }}"
                                      data-m-quantity="{{ customer.m_quantity }}"
                                      data-e-quantity="{{ customer.e_quantity }}"
                                      data-morning="{{ customer.morning }}"
                                      data-evening="{{ customer.evening }}"
                              ><i className="fas fa-user-edit"></i> Edit
                              </button>
                            </h2>


                            {# Customers Info #}

                            <CustomersInfo data={this.state.data}/>

                            {# Payment Table #}
                            <PaymentTable data={this.state.data}/>

                            {# Bill Summary #}
                            <BillSummary data={this.state.data}/>

                            {# Transactions #}
                            <TransactionTable data={this.state.data}/>

                            {# Calendar #}
                            <CalendarWiget data={this.state.data}/>

                            {# Register Entry #}
                            <RegisterEntry data={this.state.data}/>

                          </div>


                        ) :
                        <div className="mt-5 alert alert-primary text-center" role="alert">
                          Nothing to display at the moment
                        </div>
                      }

                      <p className="text-center mb-5 text-secondary"> --- END OF PAGE ---</p>
                    </div>

                  )}
              </div>
            </div>
          </div>


        )
          ;
      }
    }

    ReactDOM.render(
      <CustomerProfile/>
      , document.getElementById("report"));

  </script>

  {#  React Component ends here #}

  <script>
    function submitFormFn(submitForm) {
      {# Showing please wait spinner while accepting payment #}
      submitForm.disabled = true;
      submitForm.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Please Wait…';
      submitForm.form.submit();
    }
  </script>
{% endblock %}
{% include "register/footer.html" %}
