{% include "register/header.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"
        charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"
        charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"
        charset="utf-8"></script>
<link rel="stylesheet" type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<!-- Navbar content -->

{% block content %}
  <style>
      td a {
          display: block;
          width: 100%;
      }

      #chartdiv1 {
          width: 100%;
          height: 400px;;
      }

      #chartdiv2 {
          width: 100%;
          height: 400px;;
      }

      #chartdiv3 {
          width: 100%;
          height: 400px;
      }

      .income-expense-total {
          font-size: medium;
      }

      .profit-or-loss {
          font-size: x-large;
      }

      .spinner-size-big {
          width: 5rem;
          height: 5rem;
      }

      .overflow-div {
          overflow-x: auto;
      }
  </style>

  <script type="text/babel">
    class Report extends React.Component {
      constructor(props) {
        super(props);
        this.state = {
          isLoading: true,
          reportData: null,
          reportStatus: null,
        };
      }

      async componentDidMount() {
        let hostname = ''
        if (window.location.hostname === '127.0.0.1') {
          hostname = window.location.hostname + ':8000';
        } else {
          hostname = window.location.hostname;
        }

        var uuid = Math.random().toString(36).substr(2);
        {#  Timmer #}
        this.myInterval = setInterval(() => {
          if (this.state.isLoading === true) {
            this.fetchStatus(hostname, uuid);
          } else {
            clearInterval(0);
            clearInterval(1);
            clearInterval(2);
          }
        }, 500)


        const url =
          "http://" + hostname + "/register/report_data/" + uuid;
        const responce = await fetch(url);
        const data = await responce.json();
        this.setState({reportData: data, isLoading: false});
      }


      async fetchStatus(hostname, token) {
        const url =
          "http://" + hostname + "/register/report_data_status/" + token;
        const responce = await fetch(url);
        const data = await responce.json();
        if (data.status !== null) {
          this.setState({reportStatus: data});
        }
      }


      currencyFormat(val) {
        return new Intl.NumberFormat('en-IN', {
          style: 'currency',
          currency: 'INR'
        }).format(val);
      }

      render() {
        const myStyle = {
          width: `${this.state.reportStatus ? this.state.reportStatus.percent : 0}%`,
        };

        let component = null;
        let milk_chart = null
        let graph_data = null
        let loading_component = <div className="text-center m-5 p-5">

          <div className="spinner-grow text-primary spinner-size-big" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-secondary spinner-size-big" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-success spinner-size-big" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-danger spinner-size-big" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-warning spinner-size-big" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-info spinner-size-big" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div className="spinner-grow text-dark spinner-size-big" role="status">
            <span className="sr-only">Loading...</span>
          </div>
          <div>
            {
              <h3>Processing: {this.state.reportStatus ? this.state.reportStatus.status : 'Starting'}</h3>}
          </div>
          <div class="progress">
            <div
              className="progress-bar progress-bar-striped progress-bar-animated progress-percent"
              style={myStyle} role="progressbar" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>;


        if (this.state.isLoading) {
          component = <div className="text-center">
          </div>;
        } else {
          milk_chart = this.state.reportData.chart_data_milk
          graph_data = this.state.reportData.graph_data
          component = <div>
            {#  Proft and loss table #}
            <h3 className="text-center mt-5">Profit and Loss</h3>

            <div className="mb-1 overflow-div">
              <table className="table table-bordered text-center">
                <thead>
                <tr>
                  <th>Total Income</th>
                  <th>Total Expense</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td
                    className="income-expense-total text-success">{this.currencyFormat(this.state.reportData.all_time_income)}</td>
                  <td
                    className="income-expense-total text-danger">{this.currencyFormat(this.state.reportData.all_time_expense)}</td>
                </tr>
                <tr>
                  <td colSpan="2"
                      className={`profit-or-loss font-weight-bold text-${this.state.reportData.is_profit ? 'success' : 'danger'}`}>
                    {this.currencyFormat(this.state.reportData.all_time_profit_or_loss)} {this.state.reportData.is_profit ? 'Profit' : 'Loss'}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <h5 className="text-center">Trend over last 12 months</h5>
            <div className="mb-5 overflow-div">
              <table className="table table-bordered text-center">
                <thead>
                <tr>
                  <th>Month</th>
                  {this.state.reportData.table_data.map((month) => (
                    <th key={month.monthName}>{month.monthName}</th>
                  ))}
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Profit</td>
                  {this.state.reportData.table_data.map((month) => (
                    <td key={month.monthName} className="text-success font-weight-bold">
                      {month.profit > 0 ? this.currencyFormat(month.profit) : ''}</td>
                  ))}
                </tr>
                <tr>
                  <td>Loss</td>
                  {this.state.reportData.table_data.map((month) => (
                    <td key={month.monthName} className="text-danger font-weight-bold">
                      {month.loss > 0 ? this.currencyFormat(month.loss) : ''}</td>
                  ))}
                </tr>
                </tbody>
              </table>

            </div>

            <h3 className="text-center mt-5">Total Milk Production</h3>
            <h5 className="text-center">Trend over last 356 days</h5>


            {# Graph 3 - Milk Production#}
            {am4core.ready(function () {
// Themes begin
              am4core.useTheme(am4themes_animated);
// Themes end
              var chart = am4core.create("chartdiv3", am4charts.XYChart);
              chart.legend = new am4charts.Legend()
              chart.legend.position = 'top'
              chart.data = JSON.parse(milk_chart)
// Create axes
              var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
              dateAxis.renderer.minGridDistance = 60;
              var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
// Create series
              var seriesTotal = chart.series.push(new am4charts.LineSeries());
              seriesTotal.dataFields.valueY = "milkQuantity";
              seriesTotal.name = "Total Production";
              seriesTotal.dataFields.dateX = "dayName";
              seriesTotal.tooltipText = "Total: {milkQuantity} Liter"
              seriesTotal.stroke = am4core.color("#3256a8");
              seriesTotal.fill = am4core.color("#3256a8");
              seriesTotal.strokeWidth = "5";
              // Create series morning
              var seriesMorning = chart.series.push(new am4charts.LineSeries());
              seriesMorning.dataFields.valueY = "milkMorning";
              seriesMorning.name = "Morning";
              seriesMorning.dataFields.dateX = "dayName";
              seriesMorning.tooltipText = "Morning: {milkMorning} Liter"
              seriesMorning.stroke = am4core.color("#47D4D4");
              seriesMorning.fill = am4core.color("#47D4D4");
              seriesMorning.strokeWidth = "2";
              // Create series evening
              var seriesEvening = chart.series.push(new am4charts.LineSeries());
              seriesEvening.dataFields.valueY = "milkEvening";
              seriesEvening.name = "Evening";
              seriesEvening.dataFields.dateX = "dayName";
              seriesEvening.tooltipText = "Evening: {milkEvening} Liter"
              seriesEvening.stroke = am4core.color("#deb94b");
              seriesEvening.fill = am4core.color("#deb94b");
              seriesEvening.strokeWidth = "2";
              seriesTotal.tooltip.pointerOrientation = "vertical";
              seriesMorning.tooltip.pointerOrientation = "vertical";
              seriesEvening.tooltip.pointerOrientation = "vertical";
              chart.cursor = new am4charts.XYCursor();
              {#chart.cursor.snapToSeries = seriesTotal;#}
              {#chart.cursor.snapToSeries = seriesMorning;#}
              {#chart.cursor.snapToSeries = seriesEvening;#}
              chart.cursor.xAxis = dateAxis;
//chart.scrollbarY = new am4core.Scrollbar();
              chart.scrollbarX = new am4core.Scrollbar();


              {# Graph 2 #}
              var chart = am4core.create("chartdiv2", am4charts.XYChart);
              chart.legend = new am4charts.Legend()
              chart.legend.position = 'top'
// Add data line graph
              chart.data = JSON.parse(graph_data);
// Create category axis
              var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
              categoryAxis.dataFields.category = "month";
              categoryAxis.renderer.cellStartLocation = 0.1
              categoryAxis.renderer.cellEndLocation = 0.9
              categoryAxis.renderer.grid.template.location = 0;
              categoryAxis.renderer.minGridDistance = 15;
              categoryAxis.renderer.labels.template.valign = "down";
// Create value axis
              var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
              valueAxis.renderer.inversed = false;
              valueAxis.title.text = "Amount";
              valueAxis.renderer.minLabelPosition = 0.01;
// Create series
              var series1 = chart.series.push(new am4charts.LineSeries());
              series1.dataFields.valueY = "income";
              series1.dataFields.categoryX = "month";
              series1.name = "Income";
              series1.bullets.push(new am4charts.CircleBullet());
              series1.tooltipText = "Income: {valueY}";
              series1.visible = false;
              series1.strokeWidth = "3";
              var series2 = chart.series.push(new am4charts.LineSeries());
              series2.dataFields.valueY = "expense";
              series2.dataFields.categoryX = "month";
              series2.name = 'Expense';
              series2.bullets.push(new am4charts.CircleBullet());
              series2.tooltipText = "Expense: {valueY}";
              series2.fill = am4core.color("red");
              series2.stroke = am4core.color("red");
              series2.strokeWidth = "3";
              var series3 = chart.series.push(new am4charts.LineSeries());
              series3.dataFields.valueY = "due";
              series3.dataFields.categoryX = "month";
              series3.name = 'Due';
              series3.bullets.push(new am4charts.CircleBullet());
              series3.tooltipText = "Due: {valueY}";
              series3.fill = am4core.color("orange");
              series3.stroke = am4core.color("orange");
              series3.strokeWidth = "3";
              var series4 = chart.series.push(new am4charts.LineSeries());
              series4.dataFields.valueY = "paid";
              series4.dataFields.categoryX = "month";
              series4.name = 'Paid';
              series4.bullets.push(new am4charts.CircleBullet());
              series4.tooltipText = "Paid: {valueY}";
              series4.fill = am4core.color("green");
              series4.stroke = am4core.color("green");
              series4.strokeWidth = "3";
// Add chart cursor
              chart.cursor = new am4charts.XYCursor();
              chart.cursor.behavior = "zoomY";
              let hs1 = series1.segments.template.states.create("hover")
              hs1.properties.strokeWidth = 5;
              series1.segments.template.strokeWidth = 1;
              let hs2 = series2.segments.template.states.create("hover")
              hs2.properties.strokeWidth = 5;
              series2.segments.template.strokeWidth = 1;

              {# Graph 1 #}
              var chart = am4core.create('chartdiv1', am4charts.XYChart)
              chart.colors.step = 2;
              chart.legend = new am4charts.Legend()
              chart.legend.position = 'top'
              chart.maskBullets = false;
              chart.fontSize = 13;

              var xAxis = chart.xAxes.push(new am4charts.CategoryAxis())
              xAxis.dataFields.category = 'month'
              xAxis.renderer.cellStartLocation = 0.1
              xAxis.renderer.cellEndLocation = 0.9
              xAxis.renderer.grid.template.location = 0;
              xAxis.renderer.minGridDistance = 15;

              xAxis.renderer.labels.template.valign = "down";
              xAxis.renderer.labels.template.fontSize = 15

              var yAxis = chart.yAxes.push(new am4charts.ValueAxis());
              yAxis.min = 0;

              function createSeries(value, name) {
                var series = chart.series.push(new am4charts.ColumnSeries())
                series.dataFields.valueY = value
                series.dataFields.categoryX = 'month'
                series.name = name

                series.events.on("hidden", arrangeColumns);
                series.events.on("shown", arrangeColumns);

                var bullet = series.bullets.push(new am4charts.LabelBullet())
                bullet.interactionsEnabled = false
                bullet.label.rotation = 90;
                bullet.dy = 30;
                bullet.label.text = '{valueY}'
                bullet.label.truncate = false;
                bullet.label.hideOversized = false;
                bullet.label.fill = am4core.color('#ffffff')
                return series;
              }

// Add data line graph
              chart.data = JSON.parse(graph_data);

              createSeries('income', 'Income');
              createSeries('expense', 'Expense');

              function arrangeColumns() {

                var series = chart.series.getIndex(0);

                var w = 1 - xAxis.renderer.cellStartLocation - (1 - xAxis.renderer.cellEndLocation);
                if (series.dataItems.length > 1) {
                  var x0 = xAxis.getX(series.dataItems.getIndex(0), "categoryX");
                  var x1 = xAxis.getX(series.dataItems.getIndex(1), "categoryX");
                  var delta = ((x1 - x0) / chart.series.length) * w;
                  if (am4core.isNumber(delta)) {
                    var middle = chart.series.length / 2;

                    var newIndex = 0;
                    chart.series.each(function (series) {
                      if (!series.isHidden && !series.isHiding) {
                        series.dummyData = newIndex;
                        newIndex++;
                      } else {
                        series.dummyData = chart.series.indexOf(series);
                      }
                    })
                    var visibleCount = newIndex;
                    var newMiddle = visibleCount / 2;

                    chart.series.each(function (series) {
                      var trueIndex = chart.series.indexOf(series);
                      var newIndex = series.dummyData;

                      var dx = (newIndex - trueIndex + middle - newMiddle) * delta

                      series.animate({
                        property: "dx",
                        to: dx
                      }, series.interpolationDuration, series.interpolationEasing);
                      series.bulletsContainer.animate({
                        property: "dx",
                        to: dx
                      }, series.interpolationDuration, series.interpolationEasing);
                    })
                  }
                }
              }

            })
            }


          </div>
        }


        return <div className="report">
          {this.state.isLoading ? loading_component : ''}
          <div className="row">
            <div className="col-lg-6 col-sm-12">
              <div id="chartdiv1"></div>
            </div>
            <div className="col-lg-6 col-sm-12">
              <div id="chartdiv2"></div>
            </div>
          </div>
          {component}
          <div className="row">
            <div className="col-12">
              <div id="chartdiv3"></div>
            </div>
          </div>
          {this.state.isLoading ? '' : <p className="p-5 text-center"> --- END OF PAGE ---</p>}


        </div>;
      }
    }

    ReactDOM.render(
      <Report/>,
      document.getElementById('report')
    );
  </script>
  <div id="report"></div>
{% endblock %}
{# PROD Bundle #}
<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
{# Dev Bundle #}
{#<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>#}
{#<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>#}

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/dataviz.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

{% include "register/footer.html" %}


