{% include "register/header.html" %}

<!-- Navbar content -->

<style>
    span.ex1 {
        font-size: 30px;
    }

    span.ex3 {
        font-size: 120px;
    }

    input[type="checkbox"] {
        width: 15px; /*Desired width*/
        height: 15px; /*Desired height*/
    }

    .onoffswitch {
        position: relative;
        width: 90px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .onoffswitch-checkbox {
        display: none;
    }

    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #999999;
        border-radius: 30px;
    }

    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        -moz-transition: margin 0.3s ease-in 0s;
        -webkit-transition: margin 0.3s ease-in 0s;
        -o-transition: margin 0.3s ease-in 0s;
        transition: margin 0.3s ease-in 0s;
    }

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 30px;
        box-shadow: 0px 15px 0px rgba(0, 0, 0, 0.08) inset;
    }

    .onoffswitch-inner:before {
        content: "On";
        padding-left: 5px;
        background-color: #81d404;
        color: #FFFFFF;
        border-radius: 30px 0 0 30px;
    }

    .onoffswitch-inner:after {
        content: "Off";
        padding-right: 10px;
        background-color: #d96c58;
        color: #ffffff;
        text-align: right;
        border-radius: 0 30px 30px 0;
    }

    .onoffswitch-switch {
        display: block;
        width: 30px;
        margin: 0px;
        background: #358c8f;
        border: 2px solid #1f4541;
        border-radius: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 56px;
        -moz-transition: all 0.3s ease-in 0s;
        -webkit-transition: all 0.3s ease-in 0s;
        -o-transition: all 0.3s ease-in 0s;
        transition: all 0.3s ease-in 0s;
        background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 80%);
        background-image: -webkit-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 80%);
        background-image: -o-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 80%);
        background-image: linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 80%);
        box-shadow: 0 1px 1px white inset;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0px;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px;
    }

    table, th, td {
        border: 1px solid rgba(220, 220, 220);
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }
</style>

{% block content %}
  <div class="container justify-content-center text-center">
    {#    {% if alert_message %}#}
    {#      <div class="alert alert-{{ alert_class }} m-1" role="alert">#}
    {#        {{ alert_message }}#}
    {#      </div>#}
    {#    {% endif %}#}
    <div class="row justify-content-center mb-5">
      <div class="col">
        <form name="setting" method="post" action="setting">{% csrf_token %}
          <div class="form-group">
            <span class="ex3">{{ tenant.milk_price }}</span><span
           class="ex1"> INR / Liter</span><br>
            <span class="">Milk Price per liter</span>
            <p class="ex1">Updated: {{ tenant.date_effective }}</p>
            <p>Current Time: {% now "jS F Y H:i" %}</p>
            <br>

            <label for="exampleInputEmail1">Current Milk Price: </label>
            <div class="row text-center justify-content-center">
              <div class="col-6">
                <input type="number" step="0.01" class="form-control text-center" id="milkprice"
                       name="milkprice" required
                       aria-describedby="emailHelp" placeholder="Enter amount / L"
                       value="{{ tenant.milk_price }}">
              </div>
            </div>
            <br>
            <h4 class="text-center">Preferences</h4>

            <table style="width:100%">
              {# Contact Number #}
              <tr>
                <td colspan="2" class="text-center text-secondary"><i
                 class="fas fa-address-book"></i> Contacts
                </td>
              </tr>
              <tr>
                <td><i class="fas fa-sms"></i> Mobile Number and SMS</td>
                <td>
                  <div class="onoffswitch">
                    <input class="onoffswitch-checkbox" id="myonoffswitch1" type="checkbox"
                           name="sms_pref"
                           {% if tenant.sms_pref %}checked{% endif %} value="1">
                    <label class="onoffswitch-label" for="myonoffswitch1">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </td>
              </tr>

              {# WhatsApp Notification#}

              <tr>
                <td><i class="fab fa-whatsapp"></i> WhatsApp Notification</td>
                <td>
                  <div class="onoffswitch">
                    <input class="onoffswitch-checkbox" id="myonoffswitch2" type="checkbox"
                           name="wa_pref"
                           {% if tenant.whatsapp_pref %}checked{% endif %} value="1">
                    <label class="onoffswitch-label" for="myonoffswitch2">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td><i class="fab fa-whatsapp"></i> <i class="fas fa-people-arrows"></i> WhatsApp
                  Direct
                </td>
                <td>
                  <div class="onoffswitch">
                    <input class="onoffswitch-checkbox" id="myonoffswitch3" type="checkbox"
                           name="wa_direct_pref"
                           {% if tenant.whatsapp_direct_pref %}checked{% endif %} value="1">
                    <label class="onoffswitch-label" for="myonoffswitch3">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </td>
              </tr>

              {# Email Notification #}
              <tr>
                <td><i class="fas fa-envelope-open-text"></i> Email ID</td>
                <td>
                  <div class="onoffswitch">
                    <input class="onoffswitch-checkbox" id="myonoffswitch4" type="checkbox"
                           name="email_pref"
                           {% if tenant.email_pref %}checked{% endif %} value="1">
                    <label class="onoffswitch-label" for="myonoffswitch4">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </td>
              </tr>

              {# Bill - PDF and Download #}
              <tr>
                <td colspan="2" class="text-center text-secondary"><i
                 class="fas fa-file-invoice-dollar"></i> Bills
                </td>
              </tr>
              <tr>
                <td><i class="fas fa-file-pdf"></i> PDF Bill Downloads</td>
                <td>
                  <div class="onoffswitch">
                    <input class="onoffswitch-checkbox" id="myonoffswitch5" type="checkbox"
                           name="download_pdf_pref"
                           {% if tenant.download_pdf_pref %}checked{% endif %} value="1">
                    <label class="onoffswitch-label" for="myonoffswitch5">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </td>
              </tr>

              {# Bills till date #}
              <tr>
                <td><i class="fas fa-calendar-day"></i> Generate Bill Till Today</td>
                <td>
                  <div class="onoffswitch">
                    <input class="onoffswitch-checkbox" id="myonoffswitch6" type="checkbox"
                           name="bill_till_date"
                           {% if tenant.bill_till_date %}checked{% endif %} value="1">
                    <label class="onoffswitch-label" for="myonoffswitch6">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </td>
              </tr>

              {# Temproarly disable Bills #}
              <tr>
                <td><i class="fas fa-eye"></i> Customers Bill Access</td>
                <td>
                  <div class="onoffswitch">
                    <input class="onoffswitch-checkbox" id="myonoffswitch7" type="checkbox"
                           name="customers_bill_access"
                           {% if tenant.customers_bill_access %}checked{% endif %} value="1">
                    <label class="onoffswitch-label" for="myonoffswitch7">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </td>
              </tr>

            </table>
            <div class="p-3 text-center col-sm-12 ">
              <button type="submit" class="btn btn-lg btn-block btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
<!-- Footer -->
{% include "register/footer.html" %}
