{% include "register/header.html" %}

<!-- Navbar content -->
{% block content %}


  <a class="btn" href="addcustomer">+ Add new customer</a>
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-12">
      <h2 class="pt-5 mt-4 text-center">View Customers</h2>
      {% if customers %}
        <div class="card-columns">
          {% for customer in customers %}

            <div class="card mb-5 text-white bg-success" style="width: 18rem;">
              <img class="card-img-top" height="225"
                   src="{{ customer.img }}"
{#                   src="https://store-images.s-microsoft.com/image/apps.33967.13510798887182917.246b0a3d-c3cc-46fc-9cea-021069d15c09.392bf5f5-ade4-4b36-aa63-bb15d5c3817a"#}
                   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ customer.name }}</h5>
                {% if customer.contact %}<p class="card-text">{{ customer.contact }}</p>{% endif %}
                {% if customer.email %}<p class="card-text">{{ customer.email }}</p>{% endif %}
                <p class="card-text">{{ customer.schedule }} | {{ customer.quantity }} ML</p>
              <div class="row">
                <div class="col-6"><button type="button" class="btn btn-info">History</button></div>
                <div class="col-6"><button type="button" class="btn btn-info">Edit</button></div>
              </div>
              </div>
            </div>
          {% endfor %}
        </div>

      {% else %}
        <h3 class="pt-5 mt-4 text-center">No Customers to display</h3>
      {% endif %}
    </div>
  </div>

{% endblock %}
<!-- Footer -->
{% include "register/footer.html" %}
