{# Navbar #}
<nav class="navbar navbar-expand-lg navbar-dark top-nav-background">
  <div class="topnav navbar-brand mr-5">
    <a class="navbrand mr-5" href="./"> <strong
     class="intro">MilkBasket</strong><br>
      <div class="poweredby">POWERED BY CYBERBOY.IN</div>
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% if not request.user.is_superuser and user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link mr-3{% if menu_register %} active {% endif %}"
           href="{% url 'view_register' %}">Register </a>
        <a class="nav-item nav-link mr-3 {% if menu_customer %} active {% endif %}"
           href="{% url 'view_customers' %}">Customers</a>
        <a class="nav-item nav-link mr-3 {% if menu_account %} active {% endif %}"
           href="{% url 'view_account' %}">Accounts</a>
        <a class="nav-item nav-link mr-3 {% if menu_report %} active {% endif %}"
           href="{% url 'view_report' %}">Report</a>
        <a class="nav-item nav-link mr-3 {% if menu_setting %} active {% endif %}"
           href="{% url 'setting' %}">Setting</a>
        {#      <a class="nav-item nav-link mr-3" target="_blank" href="/bill">Bills</a>#}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if menu_bill %} active {% endif %}" href="#"
             id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            Bills
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" target="_blank" href="{% url 'bill_search' %}">Search Bill</a>
            <a class="dropdown-item" href="{% url 'bill_views' %}">Bill Views</a>
            <a class="dropdown-item" href="{% url 'broadcast_bulk_bill' %}">Broadcast Bills</a>
          </div>
        </li>
      </div>
    </div>
    <div class="nav navbar-nav navbar-right">
      <a class="nav-item nav-link mr-3 " href="{% url 'logout' %}">{{ user.get_username|capfirst }}
        - Logout</a>
    </div>
  {% endif %}
</nav>
